[2016-09-22 13:19] mtrmac commented on #644
OK, it makes the minimal case of “I have a single repo and I don’t need to mkdir /var/lib/atomic/sigstore” easier by foregoing the mkdir/configuration; I tend to discount that because it is not generalizable to multiple repos.

[2016-09-22 13:40] baude commented on #577
When a scan completes properly, atomic points to the directory to where all the files end up.  This is during run not build.

[2016-09-22 14:20] ddarrah opened #655 "atomic error should be more descriptive if docker daemon is not running"
[code]

[2016-09-22 15:10] rhatdan commented on #644
I agree with @aweiteka If we don't have an override of sigstore-staging by a sub category.  Then we should go back to default.  My understanding of this is sigstore: is readonly and sigstore-staging is for read/write.

If this is not the agreed on symantics.  Then we have to take the URI into account, since you can only write to a file://, then if you have a sigstore that is httpd:// based we stil

[2016-09-22 15:22] mtrmac commented on #644
It’s not clear that they are independent enough for that. With https://github.com/projectatomic/skopeo/issues/209 , a `sigstore: atomic:…`, specifying a server which we _know_ can both read and write, should stop the search for `sigstore-write:` in parent namespaces. Otherwise we will force the user to always write both a `sigstore:` and `sigstore-write:` for `atomic:`.

Keying off URI schemas… fe

[2016-09-22 15:25] aweiteka opened #657 "Support alternate /etc/containers/policy.json path testing"
Controlled by environment variable. We would probably use $DESTDIR/$TRUST_POLICY for this.
Corresponding skopeo issue: https://github.com/projectatomic/skopeo/issues/213

[2016-09-22 16:05] runcom commented on #649
Figured out the issue I was having on the master branch, though:
[code]

[2016-09-22 17:22] aweiteka commented on #644
Consider this use case:

[code]
"Huh? What happened?"

Default should be safely ignored with "atomic" transport type. It should fail if the URI scheme is "https://".

[2016-09-22 18:13] aweiteka commented on #653
#658
Can't merge yet; pending skopeo.

[2016-09-22 19:50] baude commented on #644
When working with an atomic registry, you must pass -t atomic @aweiteka

[2016-09-22 19:52] baude commented on #644
My interpretation of intent is the same as @mtrmac .  Lets discuss this at a Friday scrum.

[2016-09-23 09:25] runcom commented on #649
alright, got pretty progress bars:
[code]

[2016-09-23 12:26] rhatdan commented on #644
The main goal here is the user does not get screwed up.  The UI Of what @aweiteka showed above is unacceptable.

The user story should be, a user wants to sign some images, and setup a lookaside cache for controlling what images he pulls.  Setting up the lookaside cache should not break his ability to sign.

[2016-09-23 12:42] rhatdan commented on #649
Excellent. Is this something going into containers/image?  Or skopeo?

[2016-09-23 12:45] runcom commented on #649
@rhatdan some in containers/image (https://github.com/containers/image/pull/102) and some in skopeo (waiting containers/image PR merge to submit another one in skopeo)

[2016-09-23 14:48] aweiteka commented on #644
@mtrmac per conversation with @baude we agreed an easy fix for this is use sigstore-staging to override when sigstore is http/https scheme. This is the 99% use case. Can you make this fix in skopeo?

[2016-09-23 14:49] baude commented on #644
i think that is the default behavior

[2016-09-23 14:50] baude commented on #644
and @aweiteka to be clear, i was saying that if your sigstore is http/https and you want to write a local signature, you use sigstore-staging.  I think atomic and skopeo already honor that.

[2016-09-23 15:28] mtrmac commented on #644
It is easy enough to change the error message to “cannot write to `https:` `sigstore:`s; define a `sigstore-staging` location for the same server”, if that’s the only concern.

But it _inherently does!_ When I set up a lookaside to pull from product.isv.com, I _can’t_ publish to that location and signing _should_ fail instead of pretending to succeed and having no way to go from there.  The case o

[2016-09-23 15:39] rhatdan commented on #644
The UI Failure is no one will understand the difference between sigstore and sigstore-staging.  I really don't understand it either.  If this was broken down to sigstore-verify and sigstore-staging, then I might have an idea.  Having one mean both, breaks because sigstore-verify could be a https:// prefix.

[2016-09-23 16:38] mtrmac commented on #644
This is an atomic error message FWIW, not skopeo.

@baude Why is `atomic push` have the `sign_local` path at all, and how does it protect against the registry maliciously replacing the image between the time of the push an the time `Sign` fetches the remote manifest to decide what to sing? AFAICS it doesn’t, and this is a vulnerability.

[2016-09-23 16:41] mtrmac opened #660 "(atomic push) sign_local TOCTOU vulnerability?"
@baude PTAL

Per https://github.com/projectatomic/atomic/issues/644#issuecomment-249241376 :

Why does atomic push have the `sign_local` path at all, and how does it protect against the registry maliciously replacing the image between the time of the push an the time `Sign` fetches the remote manifest to decide what to sign? AFAICS it doesn’t, and this is a vulnerability.

[2016-09-23 16:46] mtrmac commented on #644
This duality is particular to the suboptimal `http{,s}` schemes; for future transports like `atomic`, we won’t have a separate staging system at all, there will only be one read-write `sigstore`, if anything; or ideally, nothing to configure at all.

Though, as pointed out on today’s call, the `docker:` and other transport options are transport-specific nothing forces us to use the same names for

[2016-09-23 16:51] mtrmac commented on #653
Isn’t the policy actually shipped in the skopeo package?

[2016-09-23 17:08] aweiteka commented on #653
@mtrmac based on comments I think we'd like to ship with an insecure docker-daemon transport type. I would then close this PR and request that from skopeo. Thoughts?

[2016-09-23 17:11] mtrmac commented on #653
Yeah, I can put that on the `docker-daemon` skopeo branch for now.

[2016-09-23 17:27] aweiteka opened #661 "atomic trust show --json should output parsed policy"
Currently `atomic trust show --json` just prints the policy.json file. More useful (and expected) is to output the same data in json format. We would then use a --policy-file flag to display the raw policy config. So this...

[code]

Would output something like the policy file but with sigstore URI information:

[code]

[2016-09-23 17:43] baude commented on #660
https://github.com/projectatomic/atomic/pull/662 addresses this issue.

[2016-09-23 18:44] #660 closed

[2016-09-27 18:57] aweiteka opened #666 "atomic login"
When pushing images and signing with Atomic Registry we need to authenticate both with docker registry and the OpenShift API.

[code]

Login would perform docker login and oc login to land the auth configuration in these files:

- `~/.docker/config.json`
- `~/.kube/config`

[2016-09-29 01:53] aweiteka commented on #657
Fixed in#663

[2016-09-29 01:53] #657 closed

[2016-09-30 18:06] aweiteka opened #669 "Review trust policy auto-config use case"
Today (v1.12.5) we look for and inspect a special image called "sigstore" for image label metadata that defines trust policy for a REGISTRY/REPO. I think there's real value in automatically configuring a **standard policy** for a registry scope. The security concern is that we also install the public key for the user.

An alternative would be to automatically configure policy but require the publi

[2016-09-30 19:06] aweiteka opened #670 "Atomic push does not handle '--insecure-registry 0.0.0.0/0'"
atomic v1.12.5

INSECURE_REGISTRY='--insecure-registry 0.0.0.0/0'

[code]

[2016-09-30 20:02] baude commented on #670
please report

python -c 'import docker; c = docker.Client(); print(c.info())'

[2016-10-03 13:23] mtrmac commented on #669
What does “automatically configuring a standard policy” mean exactly?

At a first glance, this would be undesirable in cases where the policy is set up as “only images with IT-created approval signature can be run”, or “only images from these three approved vendors can be run” (on the production cluster) — but that really depends on what “automatically configuring a policy” means.

[2016-10-03 14:29] aweiteka commented on #669
At a minimum it means with a default "reject" rule, this policy will ensure you can successfully get the image: associating public key for this registry and where to download the signature files (sigstore). As usage matures we can investigate handling complexity.

Can we agree that users or organizations with more complex policy requirements will not be using this feature?

[2016-10-03 15:50] aweiteka commented on #670
{u'ContainersPaused': 0, u'Labels': None, u'ClusterAdvertise': u'', u'ContainersRunning': 0, u'NGoroutines': 27, u'LoggingDriver': u'json-file', u'OSType': u'linux', u'HttpProxy': u'', u'DriverStatus': [[u'Pool Name', u'VolGroup00-docker--pool'], [u'Pool Blocksize', u'524.3 kB'], [u'Base Device Size', u'10.74 GB'], [u'Backing Filesystem', u'xfs'], [u'Data file', u''], [u'Metadata file', u''], [u'D

[2016-10-03 16:38] mtrmac commented on #669
I still don’t know what “automatically configuring” means here. Could you walk me through the initial state, the commands, what happens automatically based on what criteria, the end state? What behavior change are you proposing to what component?

So this would be "automatic but opt-in”? “Automatic but opt-out”?

[2016-10-03 18:14] aweiteka commented on #670
@baude updated output with only single insecure-registry entry. Same failure.

[2016-10-03 18:26] aweiteka commented on #669
Currently it's "automatic but opt-out" via atomic.conf `discover_sigstores: true`.

I'm trying to address the need to automate policy configuration while still maintaining security. I see no need to change how we automate policy configuration. What is problematic from a security point of view is automating download and install of a public key. This discussion is about possibly decoupling the polic

[2016-10-03 18:29] mtrmac commented on #669
Could you walk me through the initial state, the commands, what happens automatically based on what criteria, the end state? What behavior change are you proposing to what component?

[2016-10-03 18:29] mtrmac commented on #669
(I really have _no idea_ what this ticket is about.)

[2016-10-03 19:23] mike-nguyen opened #674 ""[Errno -2] Name or service not known" during atomic install"
This issue seems like the same issue as #650.  The atomic install command will pull the image if it is not already downloaded but seems to take a different code path (than atomic pull) that does not have the fix.  If I use the fully qualified image path it pulls with no issues.

busybox has no INSTALL label so the atomic install command doesn't do anything.  It is just used to demonstrate the pull

[2016-10-03 19:47] baude commented on #674
Yes, this is because of the changes being implemented wrt skopeo.  I have a large set of code to import eventually that should resolve most of these problems.  Leaving this open until then.

[2016-10-03 20:14] mike-nguyen commented on #674
:+1:

[2016-10-04 18:28] aweiteka commented on #669
No motivation to change current behavior. Closing.

[2016-10-04 18:28] #669 closed

[2016-10-04 18:28] #644 closed

[2016-10-04 18:35] aweiteka commented on #616
@rhatdan to resolve this we have a need for two shared man pages between skopeo and atomic.

* `man registries.yaml` https://github.com/containers/image/blob/master/docs/registries.d.md
* `man policy.json` https://github.com/mtrmac/image/blob/888f007f0b7f04e023149100f89a4de8210772ad/docs/policy.json.md

How would this work? Should I put these in skopeo? The source is in containers/image.

cc @mtrm

[2016-10-04 19:01] aweiteka commented on #649
I confirmed this is in upstream.

[2016-10-04 19:01] #649 closed

[2016-10-05 00:49] baude commented on #655
[bbaude@localhost atomic (master)]$ sudo ./atomic pull docker.io/busybox
Image docker.io/busybox is being pulled to docker ...
The docker daemon does not appear to be running.

[bbaude@localhost atomic (master)]$ sudo ./atomic --version
1.13.0-devel

Better?

[2016-10-05 12:07] rhatdan commented on #655
Yes I would say this is fixed in the next release.

[2016-10-05 12:07] #655 closed

[2016-10-05 12:57] mtrmac commented on #616
Yeah, this is ugly ATM; `containers/image` does not have a RPM, and the `skopeo` vendoring process does not pull `.md` files.

We could modify `skopeo/hack/vendor.sh` to keep `*.md` around, and package that in `skopeo`; we could modify `skopeo/Makefile` to pull in the documentation explicitly; we could do all of this in the RPM spec.  None of these is extraordinarily beautiful but any of them woul

[2016-10-05 16:17] #616 closed

[2016-10-06 19:04] miabbott commented on #674
We are also seeing this error with fully qualified registry names on the CAHC stream.

[code]

[2016-10-06 19:07] miabbott opened #685 "'No address associated with hostname' when using FQDN during 'atomic install'"
Saw this testing against the CAHC stream:

[code]

[2016-10-06 19:31] miabbott commented on #685
Strange.  This error is returned when using CAHC on a Vagrant box on my system, but in an OpenStack VM, I get the error from #674

I'm going to close this and comment further over there.

[2016-10-06 19:31] #685 closed

[2016-10-06 19:32] miabbott commented on #674
As noted in #685, we are seeing this same error using FQDN

[code]

[2016-10-06 19:45] miabbott opened #686 "need purty error when trying to 'atomic pull' non-existent tag"
Testing with @baude's 'inspect' branch:

[code]

[2016-10-06 19:48] miabbott commented on #686
Whoops.  Used the wrong binary to test this.

[2016-10-06 19:48] #686 closed

[2016-10-07 19:01] cgwalters commented on #674
This is blocking a new release of [CAHC](https://wiki.centos.org/SpecialInterestGroup/Atomic/Devel).

[2016-10-07 19:05] cgwalters commented on #674
I also get:
[code]

[2016-10-07 19:07] rhatdan commented on #674
Does this work with the master branch?

[2016-10-07 19:09] cgwalters commented on #674
Master branch of what?  You can see the configuration here:

 - skopeo: https://github.com/CentOS/sig-atomic-buildscripts/blob/master/overlay.yml#L79
 - https://github.com/CentOS/sig-atomic-buildscripts/blob/master/overlay.yml#L75

[2016-10-07 19:42] baude commented on #674
@cgwalters the uploading bits is a known issue.  Mitr has it on his list.
Dan, I believe the PR regarding inspect fixes this issue.

[2016-10-07 19:51] miabbott commented on #674
The changes in PR #687 address this issue.  I tested the failing cases successfully using @baude's branch.

[2016-10-10 10:29] navidshaikh commented on #577
Thats correct, as per scanner the directory can contain multiple files [log, debug, results] etc. Given that I am using atomic scanners in a tooling / service,  I do not want to parse stdout everytime there is a completed scan. Also, I'll have to explicitly (hardcod) the output file names to parse the scanner results.

The proposed idea is to, have a config option (while building the scanner itsel

[2016-10-10 13:04] baude commented on #577
Example please?

[2016-10-10 13:51] baude commented on #674
Can someone verify this is fixed in the latest master branch and close if so?

[2016-10-10 13:51] baude commented on #648
Can someone verify this is fixed in the latest master branch and close if so?

[2016-10-10 13:56] baude commented on #578
Fixed in https://github.com/projectatomic/atomic/pull/687

[2016-10-10 13:56] #578 closed

[2016-10-10 14:12] miabbott opened #688 "'atomic install' not parsing registry hostname correctly"
This is affecting the CAHC stream currently.

When using `atomic install` with `registry.access.redhat.com`, the command appears to be appending `docker.io` to the beginning of the image string before trying to use `skopeo` to retrieve it.

[code]

[2016-10-10 16:04] rhatdan commented on #674
Atomic 1.13 should have this fix.

[2016-10-10 16:04] #674 closed

[2016-10-10 16:06] rhatdan commented on #688
@miabbott Have you checked against master branch?

[2016-10-10 16:44] miabbott commented on #688
@rhatdan `atomic` is built from git master on CAHC:

[code]

I believe `71d0ccbb2abff9faaa99e18afb9aacff596678aa` is HEAD of master

[2016-10-10 16:45] rhatdan commented on #688
Ok thanks.

[2016-10-10 16:45] rhatdan commented on #688
@baude Looks like it is your new stuff.

[2016-10-10 20:39] miabbott opened #691 "'atomic pull' should support pulling images by digest"
In order to have more feature parity with `docker`, `atomic pull` should be able to retrieve images using the SHA256 ID.

See the following example using `docker`

[code]

[2016-10-10 20:57] baude commented on #691
@rhatdan do you know if the @ sign is unique to this kind of image description/pull?

I think we have the logic more or less, just need to figure out how to decompose this kind of input.

[2016-10-10 21:00] rhatdan commented on #691
@runcom PTAL

I have a feeling that this could also be used for other pulls.

[2016-10-10 21:05] runcom commented on #691
@baude yes, that @ sign is unique to the pull-by-digest in docker so you should be safe when decomposing a reference (either it has a tag with :tag or a digest with @sha256:hexvalue)

@rhatdan what do you mean by this could also be used for other pulls?

[2016-10-11 10:11] rhatdan commented on #691
@runcom I am not sure what I meant.  Ignore it.

[2016-10-11 10:50] rhatdan commented on #648
Fixed in atomic-1.13.

[2016-10-11 10:50] #648 closed

[2016-10-11 10:59] rhatdan commented on #593
Fixed in atomic-1.13

[2016-10-11 10:59] #593 closed

[2016-10-11 11:00] rhatdan commented on #571
@navidshaikh Any comment, or should I close?

[2016-10-11 11:01] rhatdan commented on #540
@adelton Are we ok on this one?  Can I close it or do you think we still need to change?

[2016-10-11 11:02] rhatdan commented on #472
Cleaning up issues.

@aveshagarwal @giuseppe Should this remain open?

[2016-10-11 11:03] rhatdan commented on #298
Cleaning up Atomic issues.
@cgwalters @giuseppe Can we close this issue?

[2016-10-11 11:04] rhatdan commented on #327
Fixed in atomic-1.13

[2016-10-11 11:04] #327 closed

[2016-10-11 11:04] rhatdan commented on #112
Fixed in atomic-1.13

[2016-10-11 11:04] #112 closed

[2016-10-11 11:05] rhatdan commented on #328
Cleaning up Atomic issues.

@miabbott Can I close this or is this still something you want to change?

[2016-10-11 11:06] rhatdan commented on #331
Fixed in atomic-1.13

[2016-10-11 11:06] #331 closed

[2016-10-11 11:06] rhatdan commented on #332
Cleaning up atomic issues.

@miabbott @baude is this still an issue, or is it fixed in the current release?

[2016-10-11 11:08] rhatdan commented on #500
Fixed in atomic-1.13

[2016-10-11 11:08] #500 closed

[2016-10-11 11:09] rhatdan commented on #333
Cleaning up atomic issues

@miabbott @baude Should this remain open?

[2016-10-11 11:09] rhatdan commented on #625
Fixed in atomic-1.13

[2016-10-11 11:09] #625 closed

[2016-10-11 11:18] giuseppe commented on #472
actually I've tried my proposed solution but it doesn't work as systemd doesn't like to have a symlink instead of a file under /etc/systemd/system.  I have started looking into detecting changes that are manually made by the user, so that update will detect them and won't wipe them.  It is somehow related to this issue.

[2016-10-11 11:25] rhatdan commented on #647
@aweiteka is this something you are working on, or do you want me to do it.

Where do I find the sigstore data?

[2016-10-11 11:30] giuseppe commented on #298
I think this issue can be closed.

[2016-10-11 11:49] #298 closed

[2016-10-11 11:51] rhatdan commented on #670
@baude Any update on this?

[2016-10-11 11:53] rhatdan commented on #653
Looks like this is merged.

Fixed in atomic-1.13

[2016-10-11 11:53] #653 closed

[2016-10-11 11:54] rhatdan commented on #646
@aweiteka Any movement on this?

[2016-10-11 11:56] rhatdan commented on #636
I began playing with this, but I am failing to get even to the point of this error.

[2016-10-11 11:59] rhatdan commented on #471
Cleaning up atomic issues.

@aveshagarwal @giuseppe @yuqi-zhang Can I close this?

[2016-10-11 12:01] rhatdan commented on #456
Cleaning up atomic issues.

@cgwalters What do you want to do with this one?

[2016-10-11 12:03] rhatdan commented on #661
So currently we print everything but the signstore line?

[2016-10-11 12:12] aveshagarwal commented on #471
@rhatdan thanks I just closed it.

[2016-10-11 12:12] #471 closed

[2016-10-11 13:11] baude commented on #636
IMHO, we need to work in return codes to skopeo so we can catch this kind of stuff.

[2016-10-11 13:35] baude commented on #691
Right now skopeo does not support this.  Will put this on hold until it does and then implement it into atomic.

[2016-10-11 15:04] aweiteka commented on #670
This works with master source. Closing, unable to reproduce.

[2016-10-11 15:04] #670 closed

[2016-10-11 15:17] baude commented on #688
@miabbott this should be fixed in master, mind verifying?

[2016-10-11 15:51] rhatdan commented on #636
I think skopeo is returning lots of data in the form of a json data. and we need to parse this to get some kind of better error message for the user.

@runcom is this the intention?

[2016-10-11 15:54] runcom commented on #636
yes, I'm having the same _issue_ when integrating simple signing into projectatomic/docker but I'm definitely just going to parse skopeo's output for now - we could work on error codes though.

This should trigger that error I guess:
[code]

[2016-10-11 15:55] aweiteka commented on #647
I'm not working on it.

This should remove the matching yaml section from a file in /etc/containers/registries.d/*. A call to util.get_registry_configs() will return the data you need.

I think this should be the **default** behavior, with an option to retain the sigstore URL, a less common use case. In other words, policy and sigstore are typically managed together IMO.

[2016-10-11 15:59] rhatdan commented on #688
I am about to cut atomic-1.13.1 So should be fixed there.  But verifying the master would be good.

[2016-10-11 16:02] baude commented on #636
It would seem that a combination of both could be the best option.  Suppose the return code was '99' which meant not found, we could then parse out some details from the JSON.  If you look at the original error message, it doesn't have real user level informative information.  I think the following codes could make sense:

* not found
* bad or no auth
* syntax error

and probably a couple more.

[2016-10-11 16:04] rhatdan commented on #647
Ok, just set the --remove to default to yes.  Feel free to steel the stuff I have done so far.

[2016-10-11 16:07] rhatdan commented on #636
Just use ERRNO for those if possible.   Or codes defined for http, lets not design our own new codes.

[2016-10-11 16:12] baude commented on #636
Looking at the skopeo/containers code, the error messages come largely from docker code and are just sprintf'd as a return.

[2016-10-11 16:15] runcom commented on #636
Can't you just map say `404` to not found if it's in the output? it's exactly what I'm doing _for now_ in docker/docker. I agree we need better errors though.

[2016-10-11 16:57] aweiteka commented on #646
I have some work done on this. I can finish it up soon.

[2016-10-11 17:01] aweiteka commented on #661
Yes. I think this is lower priority than `atomic trust show REGISTRY`, which would show the evaluated policy given the scope. For example...

[code]

[2016-10-11 17:29] baude commented on #636
Sure of course.  But frankly I was trying to avoid that and do the work once.  In theory, returns shouldn't be a big deal.  Parsing is error prone which is why in some ways I was waiting.  It is also why I looked at the actual code to see how easy it might be.

[2016-10-11 17:38] miabbott commented on #688
Tested with master and this test case works.  (The schema error is known and specific to that registry/image)

[code]

[2016-10-11 17:38] #688 closed

[2016-10-11 19:09] miabbott commented on #328
@rhatdan I still think the second option presented in the first comment has merits.  And now that we have `skopeo` and the ability to inspect remote registries, we can do the on-demand verification that there is an updated image available on the registry.

[2016-10-11 19:24] miabbott commented on #332
@rhatdan This is still an issue with HEAD of master

[2016-10-11 19:28] miabbott commented on #333
@rhatdan This is still an issue with git master

[2016-10-11 19:32] miabbott opened #697 "'atomic verify' doesn't list base image in output"
Previously, when using `atomic verify`, the output would show the base image of a layered image in it's output.  See the example output borrowed from #333:

[code]

When using the latest from git master, this is no longer the case:

[code]

[2016-10-11 19:46] rhatdan commented on #697
This looks like it is not able to walk the image any longer.

[2016-10-11 21:46] baude commented on #697
Ill peek at this tomorrow.

[2016-10-12 08:27] navidshaikh commented on #571
+1 for a separate option to atomic scan.

Sure, I'll do that.

The structure of image detailing the number of layers and information of each layer, yes!

[2016-10-12 19:23] aweiteka opened #703 "Atomic trust show doesn't output local "dir" type"
v.1.13.1

[code]

[2016-10-12 21:09] jberkus opened #705 "No uninstall for system containers?"
We appear to be missing any uninstall option for system containers:

-bash-4.2# atomic uninstall gscrivano/flannel
('Connection aborted.', error(111, 'Connection refused'))
-bash-4.2# atomic uninstall --system gscrivano/flannel
atomic: unrecognized arguments: --system
Try 'atomic --help' for more information.

Attn @giuseppe

[2016-10-12 21:11] rhatdan commented on #705
What version of atomic?  I thought I saw a fix for this go by?  Would be in atomic-1.13.*

[2016-10-12 21:12] jberkus commented on #705
Turns out basic uninstall works pending issues with the container.

However, I think we should accept and ignore the --system flag in uninstall, for symmetry.  It's confusting to the user to accept --system for install, but not for uninstall.

[2016-10-12 21:14] rhatdan commented on #705
Should we require it?

[2016-10-12 21:15] jberkus commented on #705
Given that we apparently don't need it, I'd say no.

[2016-10-13 07:29] giuseppe commented on #705
we already support uninstall, but you need to do that by name as there can be more instances of the same image.

For example:
[code]
will install two containers `etcd1` and `etcd2` from the same image `gscrivano/etcd`.  You will need to refer to one of them when you uninstall, to uninstall `etcd1`:
[code]

In your case, as you probably have not specified a name, `etcd` is used by default from the

[2016-10-13 12:36] rhatdan commented on #705
Once we add container/storage as a backend for containers, this might get more complex.  Theoretically you could have two containers with the same name.  For example you could have a container etcd in docker and one on ostree.  We will need to figure this out going forward.

[2016-10-13 13:14] giuseppe commented on #705
@rhatdan yes that is an issue and @yuqi-zhang is currently working on something for this issue, so that it is possible to specify what container we are addressing, if system container or docker container (or something else in the future).

[2016-10-13 13:36] yuqi-zhang commented on #705
I am investigating this. Similar issues apply for images as well (i.e. you can have the same name for an image pulled to Docker and another pulled to ostree). If you invoke delete on that image name, it will first delete from ostree, and then on a second invoke it will delete from Docker.

I was thinking to allow:
1. Detect if there are duplicates, if there are, ask the user to specify
2. Allow us

[2016-10-13 13:49] rhatdan commented on #705
I think we should add a --storage option which specified docker/ostree.  So a user can say remove one or the other.

We can maintain what we have now, except fail if there are multiple imaeges/containers with the same name and make the user specify the storage backend.

[2016-10-13 14:39] yuqi-zhang opened #708 "'atomic version' gives non-helpful error information"
When a user invokes version on a non-local system/docker image (e.g. 'atomic version asdf'), atomic will view the "asdf" as a remote docker repo and attempt to inspect with skopeo. This will cause an error:
`# atomic version asdf`
`ReturnTuple(return_code=1, stdout='', stderr='time="2016-10-13T14:29:23Z" level=fatal msg="error fetching manifest: status code: 401, body: {\\"errors\\":[{\\"code\\":\

[2016-10-13 15:28] rhatdan commented on #708
Yes I think this is a bug.  atomic verify is supposed to be verifying the local image, if it does not exist, it should not attempt to pull the image.

@baude is looking at this code, right now so I will add this to the list of things to fix.

[2016-10-13 15:39] baude commented on #708
@rhatdan actually this is 'version' code that is being reported on.  Quickly looking here, the code in question is:
[code]

It looks locally, if it cannot find it, it tries to "pull" the image.  It very much looks like the error that is being reported as non-helpful comes from skopeo trying to pull and image that does not exist.

This current approach is likely to be error prone because we no long

[2016-10-13 15:41] giuseppe commented on #708
IMHO, I think it should not try to pull the image if it doesn't exist locally.

[2016-10-13 15:42] rhatdan commented on #708
I agree, error out.

[2016-10-13 18:19] #647 closed

[2016-10-14 11:33] #661 closed

[2016-10-14 11:33] #646 closed

[2016-10-14 11:33] #703 closed

[2016-10-14 13:38] adelton commented on #540
I'm not sure what the expected behaviour and handling of dollars should be.

I have atomic-1.13.1-1.el7.x86_64 and I see

[code]

So the issue does not seem to be fixed.

[2016-10-14 15:46] rhatdan commented on #540
Is $jezek have a alue.?

If you do

jezek="foobar" atomic run --opt1='$jezek' issue-540
Do you get nothing?

[2016-10-17 19:54] yuqi-zhang commented on #708
Sorry I prematurely closed this, I have 2 other questions regarding this:

1. "atomic version" does not work with system images with this new change, since get_version will immediately check for layers in version, which only check for docker images. As a result it will just output: `Could not find any image matching <image>`
If we want "version" to display similar information to system containers

[2016-10-17 19:58] yuqi-zhang commented on #708
Also, since the error before was actually caused by skopeo in the function `info`, the error I reported at first still exists in "atomic info <non-existing-image>". Basically `atomic info` now does what `atomic version` used to do.

[2016-10-18 09:29] giuseppe commented on #708
I have submitted a PR to address the system containers part:

https://github.com/projectatomic/atomic/pull/711

I confirm the other two issues are still present though.

[2016-10-18 12:35] rhatdan commented on #708
https://github.com/projectatomic/atomic/pull/711 is merged

[2016-10-18 13:57] yuqi-zhang commented on #708
Since "info" currently works the same way as Docker (i.e. Docker also does not detect non-latest tags) I think it's fine as is. The error information is a minor issue so I'll probably look into it along with duplicate naming. Will close issue unless something else comes up.

[2016-10-18 14:04] #708 closed

[2016-10-18 14:31] miabbott commented on #697
Based on some reading about how Docker 1.10 handles images and layers, I think this is actually working correctly.

@baude pointed out that doing a `docker inspect` on a layered image shows that the `Parent` field is empty.

This seems to be a side-effect of Docker switching to a content addressable storage mechanism for the images and layers.

[2016-10-18 14:31] #697 closed

[2016-10-18 14:38] rhatdan commented on #697
Is there anyway we can get this info back.  It is really nice to know the base image that an image is based off of?

[2016-10-18 14:40] baude commented on #697
I'm looking ...

[2016-10-21 13:46] baude opened #716 "Improving Tests and Test environment"
For developers, we need to simplify the test environment to be more modular.  It would also be a significant benefit if we could replicate the jenken's test (which are destructive) locally without impact to our local system.  Therefore, I would like to see the following implemented:
- Run a single INTEGRATION test file and nothing else.  Today we can run a single test but it runs the entire suite.

[2016-10-21 18:03] bartockbat opened #719 "atomic help file in MarkDown format vs manpage format"
https://github.com/projectatomic/atomic/blob/master/Atomic/help.py#L31

When creating an atomic help file, currently one must:
1. create the help file in MarkUp format
2. copy to the Docker container during build
3. convert the MarkUp file into a manpage file
4. for cleaup purposes, remove the conversion utility and the original MarkUp file from the built container, of course leaving the manpage f

[2016-10-22 10:42] rhatdan commented on #719
Then we would need to require a markup conversion tool.  Right now we only rely on '/usr/bin/groff" being available, in your scenario atomic tool would be required to pull in something like md2man to be installed
groff is required by man, so their is a great chance that it is installed.

@baude and I talked about this.  It would be cool if groff or someother tiny tool could convert markdown to man

[2016-10-25 13:52] cgwalters opened #725 "host status fails"
[code]

[2016-10-25 13:55] miabbott opened #726 "'atomic host status' is broken"
The internal CAHC tests shows that the `atomic host status` command isn't working any more.

The CAHC deployments jumped between the following two commits from git master:

a60a3fedadd9eaec549e0514b980fe74a1379f24 to 97dc6098a026072a1fd78ecdcadf38026e86b9b2

But in the commit history, I see that there were a bunch of commits between those two.  And they seem to be in the DBus code, so I suspect so

[2016-10-25 13:56] cgwalters commented on #726
See https://github.com/projectatomic/atomic/issues/725

[2016-10-25 13:56] #726 closed

[2016-10-25 13:57] cgwalters commented on #725
A bit more info in https://github.com/projectatomic/atomic/issues/726

[2016-10-25 22:04] #725 closed

[2016-10-25 22:05] cgwalters opened #730 "should continue to execl rpm-ostree for `host`"
In https://github.com/projectatomic/atomic/pull/723/commits/125e33044a3d887272024fff6e70c787e80219fb
we changed:

[code]

This means the user doesn't see _any_ output until the command completes, when executed interactively.  This is an annoying regression.

[2016-10-25 22:07] cgwalters commented on #730
Why are we exposing the Host command via DBus?  The chain here is rather silly, since of course rpm-ostree is just going to talk dbus to its daemon...

Basically unless there's a user of this, let's nuke it.

[2016-10-25 22:11] cgwalters commented on #730
There's a bigger picture architectural issue here in that at some point, I'd like `host status` to say something meaningful about containers/docker/etc.  The appropriate place to integrate those is probably in the atomic command, not in rpm-ostree.   So if we did something like that we'd probably want a DBus API for it etc.

But let's not introduce complexity unless we need it.

[2016-10-26 11:39] rhatdan commented on #730
The user would be cockpit, we are attempting to make all atomic commands available via cockpit, but as you point out interactive commands won't work.

[2016-10-26 11:41] rhatdan commented on #730
I can change the code to indicate whether or not you are are running it from the console or via dbus.

[2016-10-26 13:41] cgwalters commented on #730
Cockpit already talks to rpm-ostree directly, what would be the value in changing that?

[2016-10-26 13:57] rhatdan commented on #730
Not sure.  I was just going through all of the Verbs of atomic to add dbus support.  If there is no value add to atomic host, then we can remove the patch.

[2016-10-27 13:51] adelton commented on #540
Right, nothing as well:

[code]

[2016-10-30 12:59] larskarlitski opened #740 "Atomic scan D-Bus interface is insufficient for cockpit"
I've started working on integrating the results of image scanning into cockpit's "Container" page and noticed several problems:

It does not provide any information about ongoing scans (or even the completion of a scan). Cockpit needs that information so that it can show that scans are in progress, disable the "Scan again" button, and update warning badges about vulnerable containers.

It is not r

[2016-10-31 13:29] rhatdan commented on #740
Great,  Handing python dictionary structures over DBUS is not pretty, which is why we switched to json.   But I guess we could attempt to switch back.  I think it would also cause issues with people trying to talk to the dbus via C or other languages, where everyone support json.

@baude will have to investigate how we get info on ongoing scans, that would be a lot more invasive, since we don't re

[2016-10-31 19:01] baude commented on #740
@larskarlitski On the structure, i would rather not revert back as the scan verb has gone under so many different, significant changes recently.  I think Dan is on the right track however.  I would think a DBUS API that specifically returns results in a form you prefer is attainable and straight-forward.  And also probably useful for other projects and integrations.

We can likely perform more sta

[2016-11-06 09:46] yunchih opened #749 "Exceptions when trying to list containers"
On a clean install of Atomic-Fedora, after pulling and installing an container with the following commands:

[code]

I got an exception when executing `atomic containers list`.

[code]

[2016-11-06 15:04] jlebon commented on #749
This should be fixed in v1.13.2 by https://github.com/projectatomic/atomic/commit/b227b2a8b355da7989124e228e3c6bd57e07ec00.

[2016-11-07 13:39] #749 closed

[2016-11-09 11:43] twaugh opened #753 "atomic help only looks for "HELP" label"
There is no "HELP" label listed here:
https://github.com/projectatomic/ContainerApplicationGenericLabels

However there is a "help" label. I suggest that `help.py` should check for `help` first, then fall back to the compatibility name `HELP`, when looking for a command to display image help.

[2016-11-09 12:31] twaugh commented on #753
Changing the issue name.

This does not only affect HELP, but also INSTALL, UNINSTALL, STOP, and probably every label. None of these are defined as upper-case, and all of them are defined as lower-case. The atomic CLI *must* use the names specified in the label documentation.

[2016-11-09 13:48] rhatdan commented on #753
https://github.com/projectatomic/atomic/pull/754 Should fix this issue.

INSTALL, UNINSTALL, and STOP already try all cases.

[2016-11-09 13:57] twaugh commented on #753
Oh yes, I hadn't seen `_get_args()` in the other cases.

[2016-11-09 15:38] rhatdan commented on #730
Removed host from dbus interfaces.

[2016-11-09 15:38] #730 closed

[2016-11-09 15:39] #719 closed

[2016-11-09 15:41] rhatdan commented on #691
@runcom is there any movement on skopeo pulling by digest?

[2016-11-09 15:47] runcom commented on #691
Why is skopeo not supporting this already? what's missing here?
[code]

[2016-11-09 15:50] rhatdan commented on #691
@baude Looks like it is supported?

[2016-11-10 19:20] baude commented on #716
Resolved in https://github.com/projectatomic/atomic/commit/8ea8d1e82e9a97590c6d21476c0b68a4380ee580 and https://github.com/projectatomic/atomic/commit/100031ec347c86f887068bbe4a553792b8f0ddd4

[2016-11-10 19:22] #716 closed

[2016-11-11 14:34] twaugh opened #760 "atomic diff: also compare image metadata"
When using 'atomic diff' to compare images, differences in image metadata are not reported (for instance, different environment variables, labels, entry points etc.).

The image metadata is represented in JSON, and it would be useful for 'atomic diff' to report *what* is different in addition to *that* things are different. It would be sufficient to have the key names that have different values (o

[2016-11-11 14:52] twaugh opened #761 "atomic diff: image filesystem comparison is shallow"
When using 'atomic diff' to inspect differences between images, `filecmp.dircmp` is used. This performs a shallow comparison, meaning that files with the same time stamp and size are assumed to be identical.

As a result, these things may be reported as identical:
* symbolic links with different targets
* regular files with different content
* files with different permissions or ownership
* flies

[2016-11-15 15:37] baude commented on #761
After talking wqith @twaugh , we agreed if we are going to do this, we should focus on: symlinks with different targets, regular files with different content,  and files with different perms or ownerships.

[2016-11-16 14:59] baude commented on #760
@twaugh Would you mind testing my branch which should enabled this?

https://github.com/baude/atomic/tree/diff_diff_json

Feedback in IRC would be fine or here.

[2016-11-16 22:29] rhatdan commented on #761
Sounds good, is this something we should look at mtree for or is this something we should put into atomic CLI?

[2016-11-17 12:00] twaugh commented on #760
get_node_value() needs to handle the case where image2 does not have that node path. Maybe it needs to be compare_node_value().

Other than that, this looks great!

[2016-11-17 12:05] twaugh commented on #760
One thing -- it seems like 'docker inspect' includes some runtime data as well as image-specific data. I don't know any way around that other than to examine the image configuration directly ('docker save' the output, find the manifest.json in that archive, find the `Config` key in that, then look for the JSON file with that name).

[2016-11-17 14:33] baude commented on #761
@rhatdan Yes, I plan to use go-mtree and have been doing some preliminary testing and patching of go-mtree  so that it works correctly.  Been also keeping vbatts up to date as well.

[2016-11-17 17:22] larskarlitski opened #763 "Each D-Bus call on org.atomic adds an atomic_dbus.py process"
None of them owns the name `org.atomic`, which is why every call activates the program again.

[2016-11-17 23:04] rhatdan commented on #763
@larskarlitski How would we do that?  Do we want the process to stay running?

[2016-11-17 23:05] rhatdan commented on #763
I am not even sure how well atomic would work if it stayed up all of the time.

[2016-11-18 10:40] larskarlitski commented on #763
Sorry if the description wasn't clear: the main problem is that there are a lot of `atomic_dbus.py` processes running. They exit after a while, but none of them keeps owning the `org.atomic` name, which is why a new D-Bus call will activate another one of these processes.

D-Bus services usually stay running after activation and hold on to the name, because it's likely that additional requests com

[2016-11-18 12:28] twaugh commented on #760
I think `_get_node()` needs to handle LEFT having {'foo': { 'bar': { 'baz': 1 } } } and RIGHT having { 'foo': { 'bar': None } }.

Perhaps `if isinstance(image, dict) and get_val in image:`?

[2016-11-18 13:01] rhatdan commented on #763
Yes I understand the concept. I am worried about the atomic library that the atomic dbus service was not designed to handle multiple requiests within the same process.  I am not sure if we are allocation new classes for each call.

[2016-11-18 22:31] baude commented on #760
Closed in https://github.com/projectatomic/atomic/pull/764

[2016-11-18 22:31] #760 closed

[2016-11-21 16:03] eriknelson opened #765 "Atomic commands fail if container with the same name already exists."
This is admittedly a bit of a corner case, but its bitten a number of us working on some tooling around atomic. It's almost certainly the root cause of a related issue that was closed some time ago: #271

We ended up in a scenario where an atomicapp container is already running, or has been run but not cleaned out of the containers list, atomic identifies it as already having existed and attempted

[2016-11-21 16:12] yuqi-zhang commented on #765
Could you provide more details? It is expected behavior for both docker and system containers to not allow duplicate naming. Are other commands failing because you attempted to run a container with a duplicate name?

[2016-11-21 16:28] eriknelson commented on #765
It inspects the container and recognizes it as already running:
https://github.com/projectatomic/atomic/blob/master/Atomic/run.py#L80

Then it builds up the command and attempts to execute it in the running container:
https://github.com/projectatomic/atomic/blob/master/Atomic/atomic.py#L209

I'm not positive since I'm not in a position to confirm this, but I suspect it's executing `docker exec -t

[2016-11-23 16:14] rhatdan commented on #765
@baude will your redesign take care of this issue?

[2016-11-23 17:59] baude commented on #765
No, but I did talk with Erik briefly on IRC and asked for more information as well.  I think he was working to provide a definitive test case exclusive of atomicapp.

[2016-11-24 15:38] larskarlitski commented on #763
The dbus service seems to have been written with that in mind, though. I've opened #770 to make the process keep the name, which fixes this bug.

[2016-11-26 18:59] #763 closed

[2016-11-30 14:03] jlebon opened #775 "Make D-Bus methods take dicts of options instead"
Right now, the D-Bus methods include the parameter names in the signature. This is bound to become obsolete and break backwards compatibility as more options are added. It would probably make more sense to change them all to take in a dict of option name to option value (i.e. `a{sv}`).

[2016-11-30 14:11] rhatdan commented on #775
Makes sense.

[2016-11-30 14:21] jlebon commented on #279
Just a note, I didn't mention this issue in the commit messages, but the concerns raised here should be fixed by #776, which only adds `-t` to the default args if a TTY is present. Though note that we don't inspect and try to edit what's in the `RUN` label, which I think is the right thing to do, as mentioned earlier.

[2016-11-30 16:14] mi-hol commented on #333
@miabbott  with #697 now closed, I wonder if this issue is still open?

[2016-11-30 16:39] miabbott commented on #333
@mi-hol Agreed.  We aren't able to inspect the parent layers anymore, so this is no longer a problem.

[2016-11-30 16:39] #333 closed

[2016-12-05 11:21] runcom opened #781 "atomic trust delete: 'NoneType' object is not subscriptable"
[code]
Note that the actual entry in `/etc/containers/policy.json` is correctly removed but I still get that error on the CLI.

[2016-12-05 14:22] rhatdan commented on #781
Please add --debug statement.

[code]

[2016-12-05 14:25] rhatdan commented on #781
@baude @aweiteka PTAL

[2016-12-06 03:53] timchenxiaoyu opened #786 "how to use atomic to migrate container from one host to another?specific command,please"

[2016-12-06 12:51] rhatdan commented on #786
@shishir-a412ed Is this something you would want to write up?

[2016-12-06 15:25] shishir-a412ed commented on #786
@timchenxiaoyu I think I answered your question :)
https://github.com/shishir-a412ed/Docker-Migrate/issues/2#issuecomment-264876301

/cc @rhatdan

[2016-12-08 11:40] runcom opened #791 "Provide a better error when gpg key isn't found"
If you try to sign with a gpg key which isn't on the system you get:
[code]
This (`End of file`) is silly and doesn't really tell why this has failed.

[2016-12-08 11:41] runcom commented on #791
I created https://github.com/mtrmac/gpgme/pull/1 which would provide a better error message:
[code]

[2016-12-08 19:55] runcom commented on #791
fixed by https://github.com/projectatomic/skopeo/pull/271

[2016-12-09 10:03] #791 closed

[2016-12-12 16:51] miabbott opened #797 "atomic scan is not respecting fully-qualified image names"
Seen on the following CAHC version:

[code]

After pulling and installing the `registry.access.redhat.com/rhel7/openscap` image, the attempt to scan the image causes the `atomic` stack to go hunting for a version of the image on `docker.io`

[code]

Afterwards, it fails because of a docker issue, but that appears to be separate from this one.

[2016-12-12 19:27] rhatdan commented on #797
@baude PTAL

[2016-12-14 17:52] pschiffe opened #801 "support `readonly: false` system containers"
When trying to install system container with rw rootfs I get:
[code]

[code]

There is also a problem with oci-systemd-hook https://github.com/projectatomic/oci-systemd-hook/issues/37

[2016-12-16 14:51] giuseppe commented on #801
this is not possible using ostree as a backend.  We would need to copy the files instead of using the ostree checkout with hard links for this (doable but when doing this we wanted to use read only images anyway as they can be mounted/shared from a network location).

If you force "readonly": false, as it is now, it will corrupt the ostree storage.

[2016-12-16 15:57] pschiffe commented on #801
I see. Feel free to close the issue then.

[2016-12-16 16:01] #801 closed

[2016-12-16 16:02] rhatdan commented on #801
Thanks @giuseppe I had not understood what was going on.  I guess in order to support this we would need overlay or something on the mount point.  But for the time being we should force all content to be precreated.  Or use a different form of storage then OSTree.  container/storage when it becomes available.

[2016-12-16 17:08] miabbott commented on #797
I ran this test again and it looks like it is not a matter of fully-qualified domains, but that `atomic` doesn't believe that the openscap container is installed.  See the example below where I have pulled the `rhel7/openscap` image but use it to scan the `registry.access.redhat.com/rhel7` image.

The `atomic scan` operation pulls in `docker.io/rhel7/openscap` and then runs the scan using that con

[2016-12-22 07:39] dharmit opened #804 "atomic cli fails in absence of python-dateutil package - CentOS"
On a freshly setup and updated CentOS system, `atomic` cli fails with following traceback:

[code]

After doing `yum -y install python-dateutil` it starts functioning without any issues. Should the package be a dependency that automatically gets installed when you do `yum -y install atomic`?

[2017-01-02 10:38] mvollmer opened #805 "1.14.1, "atomic storage" broken"
With atomic 1.1.4.1, none of the "atomic storage" commands seem to work:

[code]

Adding `--debug` shows the culprit:

[code]

[2017-01-02 10:41] mvollmer commented on #805
43fc70035a308 looks very fishy

[2017-01-02 10:45] mvollmer commented on #805
This regression was found by the Cockpit integration tests.  Would be nice to catch this earlier, and `atomic` itself has tests for the `Storage` class, no? Did they pass somehow?

[2017-01-02 10:57] mvollmer commented on #805
#806 should help reduce the confusion, but it only improves the message, not the regression.

[2017-01-02 11:19] mvollmer opened #808 "tests: Destructive tests, such as test-storage, don't run for pull requests."
This probably caused us to miss #805, which I think is a big deal.

[2017-01-03 14:43] #805 closed

[2017-01-05 19:56] miabbott opened #811 "use hostname/URI validation when adding trust policies"
Before I RTFM, I tried to modify the default trust policy with the following:

`# atomic trust add default -t reject`

Which was accepted happily and I saw this:

[code]

Going further down the rabbit hole, I found I could basically give `atomic trust` any string I wanted for a registry name and it would eat it up.

[code]

A little bit of input validation would be helpful for the user.

[2017-01-05 20:33] rhatdan commented on #811
I guess we need to determine a valid string.

@aweiteka PTAL

[2017-01-05 21:29] aweiteka commented on #811
While this is incredibly ugly and we need to validate, all of these rules will be quietly ignored since they will never match.

This one--this.is.not.a.real.url.docker.registry.z--**is** technically a valid registry URI. We should constrain on this character list: `[a-zA-Z1-9.:-_]`. Need to confirm.

[2017-01-05 21:58] miabbott opened #812 "'atomic images update' pulls latest image even if it is on the host"
Using atomic 1.14.1, I pulled the latest `nginx` image from docker.io.  Then proceeded to use `atomic images update` multiple times and observed the same image being pulled each time.  Seems like we should be smarter about this when the latest image exists on the host.

[code]

Incidentally, this only seems to happen when using docker storage; doing the same with ostree storage is more sane.

[cod

[2017-01-05 22:02] miabbott commented on #812
Heh, looks like @baude may have had the same idea over in projectatomic/skopeo#281

[2017-01-06 13:38] rhatdan commented on #811
Should we validate the URI by appending http:// on the front and running it through a function like:
[code]

[2017-01-06 15:40] baude commented on #812
@miabbott yeah but I'll use this issue to track a fix.  Thanks for reporting.

[2017-01-06 15:40] miabbott opened #813 "'atomic images verify' returns argument error with certain images"
Using `atomic 1.14.1`, an argument error is returned when trying to use `atomic images verify` on certain images.  I suspect it is a problem verifying images from v1 registries, but I'll let the experts hash it out.

For example, using `atomic images verify` on an image from docker.io returns successfully:

[code]

However, running the same command on an image from registry.access.redhat.com retur

[2017-01-06 15:57] miabbott commented on #813
[code]

[2017-01-06 17:13] baude commented on #813
Fixed in https://github.com/projectatomic/atomic/commit/1c16902b1568f1ba397d5df2d254a6fbda744fb2

[2017-01-06 17:13] #813 closed

[2017-01-06 18:35] rhatdan opened #815 "Attempting to install an image from a OpenShift/Atomic Registry fails if it requires credentials."
[code]

[code]

[2017-01-06 18:36] rhatdan commented on #815
I have executed the docker login for this web site as specified on the registry.
If I pass the credentials through to skopeo inspect, I get it to work.

[2017-01-06 18:37] rhatdan commented on #815
I believe the the descovery.py code is not using the credentials.

[2017-01-09 14:22] aweiteka commented on #811
@miabbott validation landed in #816. The basic list of valid/invalid trust policy keys is here: https://github.com/projectatomic/atomic/blob/master/tests/unit/test_util.py#L84

Please confirm/close.

[2017-01-09 21:01] miabbott commented on #811
I found some other cases that don't seem to be valid by my read, but I don't want to drag this out, either.

Like this:

[code]

On the flip side, this wacky string gets rejected:

[code]

WDYT @aweiteka ?

[2017-01-10 10:05] navidshaikh commented on #804
Should be SPEC file update for atomic package, the mentioned package is listed in [requirements.txt](https://github.com/projectatomic/atomic/blob/master/requirements.txt#L8)

[2017-01-10 13:31] rhatdan commented on #804
python3-dateutil

atomic-1.14.1-1.fc26.x86_64

Should be in the next release.

[2017-01-10 13:39] dharmit commented on #804
Any plan to support Python 2?

[2017-01-10 14:45] rhatdan commented on #804
Yes for RHEL7 and Centos7 this will be supported.

[2017-01-10 15:41] aweiteka commented on #811
@miabbott all these cases are addressed in #819 with extended unittests.

[2017-01-10 16:48] miabbott opened #820 "provide a 'reset to defaults' for the trust policy"
When manipulating the trust policy, it is possible that you get to a situation where you want to get back to the original config without having to remove all the policies that may have been added.

I think it would be useful to have a command that would reset the policy to the default state in this case.

For example:

[code]

[2017-01-10 17:00] rhatdan commented on #820
Do we want to do anything other then reset the policy.json file?

[2017-01-10 17:14] miabbott opened #821 "invalid regular expression when parsing registry names for 'atomic trust'"
It appears that #819 broke things

[code]

[2017-01-10 17:35] rhatdan commented on #821
@aweiteka PTAL

[2017-01-10 19:19] miabbott commented on #821
Looks like user error.  Re-tested on clean F25 system and was able to get it working.

[2017-01-10 19:19] #821 closed

[2017-01-10 19:49] baude commented on #761
Closing, re-open if you need additional function

[2017-01-10 19:49] #761 closed

[2017-01-10 19:50] baude commented on #753
Is this ok to close?

[2017-01-10 19:55] #753 closed

[2017-01-10 19:56] miabbott opened #823 "keep improving URI validation"
While banging on #819, I found the following regarding ports:

[code]

Also, this rule from the [Docker Registry Spec](https://docs.docker.com/registry/spec/api/#/overview) could be implemented:

First example is 256 characters, the second is 257 characters
[code]

[2017-01-10 20:20] rhatdan commented on #823
@aweiteka, @miabbott is trying to aggravate you, :^)

[2017-01-10 20:31] miabbott commented on #823
I think with these additions, I'll be out of ideas to make @aweiteka miserable  😄

[2017-01-16 23:57] dustymabe opened #826 "not sure how to run `atomic storage reset`"
I'm trying to run `atomic storage reset` but I can't get passed the command line validation:

[code]

The storage pool was previously set up using:
[code]

[2017-01-17 10:00] mvollmer commented on #826
See #805.  `atomic storage` is broken and we didn't catch that because #808.

[2017-01-17 13:33] rhatdan commented on #826
I just cut an atomic-1.15.1, we should prepare and build this for Fedora 26/25

[2017-01-17 13:35] rhatdan commented on #808
How do we turn these on?  @jlebon Is this something we should do?

[2017-01-17 14:23] jlebon commented on #808
@rhatdan Let's try it out in:
https://github.com/projectatomic/atomic/pull/828

[2017-01-17 19:49] aweiteka opened #829 "pulling with --storage ostree doesn't enforce signatures"
When running atomic pull with ostree storage backend signature policy is not enforced because the (skopeo layers command)[https://github.com/projectatomic/atomic/blob/master/Atomic/util.py#L295] doesn't enforce signatures (see https://github.com/projectatomic/skopeo/issues/287). Is there a reason we're not using `skopeo copy` here? https://github.com/projectatomic/atomic/blob/master/Atomic/syscont

[2017-01-17 19:59] rhatdan commented on #829
I don't think skopeo supports an ostree backend?  @runcom

[2017-01-17 20:10] runcom commented on #829
@rhatdan it doesn't, it relies on a-now-deprecated command called "skopeo layers" to import individual layer to an ostree repo on a system.

[2017-01-17 20:12] rhatdan commented on #829
Right so to get skopeo copy to work we would need to have a destination like ostree:/var/lib/containers
and put the code to install the layers into skopeo correct?

[2017-01-17 20:20] runcom commented on #829
Yeah, that would be nice, @giuseppe what do you think? I remember some conversion with @giuseppe and @mtrmac somewhere but I couldn't find the link anywhere right now.

[2017-01-17 20:40] mtrmac commented on #829
A low-effort fix might be to get https://github.com/containers/image/pull/159 + a corresponding `skopeo` enhancement, and use `skopeo copy --layer-subset` instead of `skopeo layers`. That would allow us to preserve the existing Python code, at the cost of having to be really careful so that we always do verification, and only pull exactly one image (I suppose, first pull the manifest + no layers,

[2017-01-17 20:42] rhatdan commented on #829
I would prefer solution #2
we could build an ostree ImageTransport directly into containers/image in Go (and drop the Python code from atomic?).

[2017-01-17 20:45] runcom commented on #829
The key functionality we need to port from python to go in containers/image is the ability to check for already pulled layers to do incremental pulls on image update (@giuseppe can tell us more about it I guess). But with the changes in c/image such as HasBlob we should be able to maintain that compatibility.

[2017-01-17 21:07] cgwalters commented on #829
I'd at some point like to be able to pull OCI from ostree, or at least rpm-ostree.  See discussion in https://github.com/ostreedev/ostree/pull/619

[2017-01-17 21:18] rhatdan commented on #829
That would be very cool

[2017-01-17 21:29] mtrmac commented on #829
containers/image does have a (manifest) format conversion machinery which could be useful for this, even if images did not originate as OCI images (or the other way around).

[2017-01-17 22:13] baude opened #831 "If no dockerd, throw informative error."
If `docker` is not running, `atomic pull` throws a cryptic error; could be improved:

[code]

[2017-01-17 22:14] baude opened #832 "Throw better error for unknown image"
The user gets different errors when trying to pull an image that does not exist and choosing the different storage backend

[code]

[2017-01-17 22:14] baude opened #833 "atomic run should inform user when running as exec inside an existing container"
Not sure how this should work, but it looks off...

When using `atomic run` to run a container that is already running, the command appears to start a new container with a different ID.  However, the output from `atomic containers list` shows that the previously running container is intact and its ID has not changed.

I would suggest changing the output to indicate that the container is already ru

[2017-01-17 22:20] baude commented on #812
should be fixed with https://github.com/projectatomic/atomic/pull/825

[2017-01-18 08:31] mvollmer commented on #826
#807 was unfortunately not a complete fix.  It made `atomic storage reset` work, but `atomic storage modify` is still broken.

[2017-01-18 10:02] giuseppe commented on #829
From my understanding of https://github.com/projectatomic/skopeo/pull/242, `skopeo copy` doesn't allow us to specify what layers to download yet.  That is a blocker for atomic pull --storage ostree, as we want to fetch only the layers that are not already in the repository (shouldn't this be done for Docker as well?).

`atomic pull --storage ostree` fetches the manifest, lookup the layers of the i

[2017-01-18 14:43] miabbott commented on #812
Confirmed fixed in #825

[2017-01-18 14:43] #812 closed

[2017-01-18 15:10] aweiteka commented on #829
It appears skopeo copy pulls down manifest schema v2 (if available) and skopeo layers pulls down manifest schema v1.

[2017-01-18 15:46] jlebon opened #838 "atomic run regression"
Looks like https://github.com/projectatomic/atomic/pull/825 broke the way run args are handled. From our test logs:

[code]

Where `centos_httpd` is: https://github.com/projectatomic/atomic-host-tests/blob/master/roles/docker_build_httpd/files/centos_httpd_Dockerfile

It seems like it's using the first arg of Cmd, even when there's an entrypoint defined.

[2017-01-18 15:48] rhatdan commented on #838
@baude PTAL

[2017-01-19 19:09] mtrmac commented on #829
True; and actually unnecessary nowadays AFAICT, we can parse the v2 data as well; it seems to just be a leftover implementation artifact.

[2017-01-19 19:10] mtrmac commented on #829
Really the question here is whether we should decide to port all of this to Go, or whether to keep the current code and only to implement https://github.com/containers/image/pull/159 and make it available in skopeo. (Though we now have a PR to implement something like that anyway, https://github.com/containers/image/pull/218, so that may happen whichever way we decide to take.)

[2017-01-19 19:48] rhatdan commented on #829
I think we implement it in Go and drop it from atomic.  It would be a good example of pulling and eventually pushing images using skopeo using different storage backends.

[2017-01-19 21:27] giuseppe commented on #829
in the meanwhile, how much work would be to filter the layers in Skopeo?  I guess the work to adapt in atomic to adapt it won't be much, and we can start using it while we wait for a better solution either in Skopeo or in OSTree (which would be shared with flatpak)

[2017-01-19 22:48] miabbott opened #844 "'atomic pull' requires v1 registry to be added to /etc/sysconfig/docker"
While testing #843, we found that using `atomic pull` to retrieve images from a v1 registry required that the registry be added to `/etc/sysconfig/docker` using the `--add-registry` option.

[code]

@baude already knows about this, just filing it so it is not lost in the ether

[2017-01-20 15:42] baude commented on #838
@jlebon when you get a chance to see if this is good to go, mind closing this?

[2017-01-20 15:44] jlebon commented on #838
I will take @miabbott's word for it. :)

[2017-01-20 15:44] #838 closed

[2017-01-20 20:03] miabbott opened #845 "unable to supply additional args to 'atomic run' that use double dashes"
If an image has an ENTRYPOINT which is a script or process that takes double-dash arguments (i.e. `--help` or `--list`), they cannot be provided when running the image via `atomic run`

For example, the image at `docker.io/jlebon/osp-utils` has an ENTRYPOINT that looks like

[code]

That Python script accepts a command as an argument, as well as secondary arguments that use the double-dash format.

[2017-01-20 20:06] miabbott commented on #845
Note this was possible using atomic 1.13, but appears to have broken in 1.14

[code]

[2017-01-20 20:20] miabbott commented on #844
Closed via #843

[2017-01-20 20:20] #844 closed

[2017-01-23 18:41] baude commented on #831
Should be fixed...

[code]

[2017-01-23 18:41] baude commented on #831
Re-open if not happy

[2017-01-23 18:41] #831 closed

[2017-01-26 09:43] jlebon commented on #808
This is fixed now in #828 (i.e. all tests are now run, though the storage test is currently failing).

[2017-01-26 09:43] #808 closed

[2017-01-26 19:30] shishir-a412ed commented on #786
@rhatdan I think we can close this issue.

[2017-01-28 11:52] #786 closed

[2017-01-30 21:25] aweiteka opened #855 "Atomic trust add should handle public key options"
We should be able to auto-detect these options:

- [x] `atomic trust add --pubkeys /path/to/local/file.gpg ...`
- [x] `atomic trust add --pubkeys https://URL/to/some/public/key ...`
- [x] `atomic trust add --pubkeys me@example.com ...` <- local gpg keyring

[2017-01-31 14:34] baude commented on #691
I'm working on a PR for this.  One issue we need to decide on is what the tag should be for the image.  Consider what docker does:
[code]
Note how <none> is used for the tag.

Skopeo will not accept <none> as a valid tag.  So should skopeo be fixed to allow this and we replicate docker's behaviour or should we decide on a different tag?

[2017-01-31 14:39] runcom commented on #691
@baude `<none>` _is not_ used for the tag. That's just a placeholder to say "no tag". Skopeo should not accept that at all. If you pull by digest you don't get a tag and that's it afaict

[2017-01-31 15:20] runcom commented on #691
@mtrmac could you also take a look at this?

[2017-01-31 15:31] mtrmac commented on #691
The thing is, `docker load` can not record the manifest digest (that manifest is not stored in the tarball). It would be possible to use `docker load` without a tag, but that image would then be a bit difficult to reference, (it would be referenceable by the `config.json` digest = image ID, but the `config.json` may be manufactured on-the-fly by `skopeo` when converting from schema1). I don’t know

[2017-01-31 19:21] baude commented on #691
https://github.com/projectatomic/atomic/pull/856

[2017-01-31 19:32] baude commented on #797
https://github.com/projectatomic/atomic/pull/857

[2017-01-31 19:33] baude commented on #804
What is the status of this issue?

[2017-01-31 20:21] baude commented on #815
SHould work now with skopeo usage.  CLose?

[2017-01-31 21:05] #815 closed

[2017-01-31 21:14] rhatdan commented on #845
atomic run fedora id -Z
atomic: unrecognized arguments: -Z
Try 'atomic --help' for more information.

This is definitely a big bug/regression

[2017-01-31 22:23] baude commented on #845
@rhatdan The "regression" was done in Oct.  Following is the info:

[code]

And the diff looks like:
[code]

Seems like this would easy enough to revert but do you recall why you made the change?

[2017-01-31 22:48] baude commented on #832
https://github.com/projectatomic/atomic/pull/858

[2017-01-31 22:48] baude commented on #636
https://github.com/projectatomic/atomic/pull/858

[2017-02-01 06:18] bpbp-boop opened #859 "HTTP Proxy"
I'm trying to run `atomic run cockpit/ws` on the latest CentOS Atomic.
I've configured the docker daemon to use an HTTP proxy via systemd drop in, as well as the rpm-ostree daemon but I cannot work out how to get the atomic command to pull images via the proxy. Maybe this could be documented somewhere?

Manually running "docker pull cockpit/ws" and then `atomic run cockpit/ws` is a workaround for

[2017-02-01 12:50] rhatdan commented on #859
@baude @runcom is this fixed by moving to skopeo for the pulls?

[2017-02-01 12:55] runcom commented on #859
It should with skopeo

[2017-02-01 12:58] rhatdan commented on #845
Lets revert.  I think this was to make the atomic run --help output look better.

[2017-02-01 14:49] baude commented on #832
fixed

[2017-02-01 14:49] #832 closed

[2017-02-01 14:50] baude commented on #636
@aweiteka I think I have resolved this with the commit https://github.com/projectatomic/atomic/commit/3f1ed627a2450475edd4b3783e55f5c0d4509fbc ... mind closing if you agree or else let me know

[2017-02-01 21:09] miabbott opened #860 "improve error messaging for unknown images"
While testing #856, I saw the following error messages for the case of an image that did not exist.  Note, these are a v1 registry and v2 registry respectively.

[code]

I understand that the content of the messages is correct for each case, but I believe they could be formatted correctly

[2017-02-01 21:09] miabbott commented on #860
@baude Not sure if you introduced this or if it had existed already.

[2017-02-01 23:22] baude commented on #860
They are messages from skopeo.  I might be able to hide them if preferred.  I figured this might come up.  @rhatdan opinion?

[2017-02-02 13:30] rhatdan commented on #860
Lets fix this in skopeo.  @runcom Could you clean up this error message to print something for humans.

[2017-02-02 13:43] runcom commented on #860
skopeo's output is nice and human readable to me.

[code]
should atomic clean that output by just printing what's inside `msg` in `ReturnTuple`?

[2017-02-02 14:02] rhatdan commented on #860
Ok so skopeo is returning decent errors, it is atomic that is screwing them up?

[2017-02-02 14:33] baude commented on #860
Right now, atomic is adding the tuple references and so forth.  I think I can reduce it to just the error from skopeo as seen.  I'll whip up a PR.

[2017-02-02 21:19] baude commented on #860
https://github.com/projectatomic/atomic/pull/862

[2017-02-03 21:21] miabbott opened #866 "Don't report '--system' as unrecognized option"
If `runc` is not installed and the user tries to `atomic install --system` a container, the command returns that the `--system` argument is unrecognized.

[code]

Can we error out and inform the user they are missing the necessary subcommand? For example:

[code]

[2017-02-03 21:22] miabbott commented on #866
In the positive case, it looks like this:

[code]

[2017-02-03 21:43] miabbott commented on #866
@baude Pointed out that this may only affect non-RPM installs (since `runc` is a dependency of `atomic`), so it is debatable if many users will encounter this.

[2017-02-04 12:22] rhatdan commented on #866
@giuseppe
I don't think --system should require runc in the first place.  We should be able to run system containers without runc, docker-system container will work, in the future people might package up system containers to use chroot/system-nspawn/portable services.  So we should allow the use of --system.  Rpm pulling in runc is a good thing though.

[2017-02-05 14:39] baude commented on #860
https://github.com/projectatomic/atomic/issues/860 was merged.  can we close this?

[2017-02-05 14:40] baude commented on #845
@miabbott we reverted the regression.  can you check it out and close?

[2017-02-05 21:07] baude commented on #691
@miabbott good to go?

[2017-02-06 11:00] giuseppe commented on #866
@rhatdan yes, even if we are generating EXEC_START and EXEC_END based on runc (if it runs as root), I think we should not fail if runc is missing as system containers could be used with other backends as well.

[2017-02-06 14:22] miabbott commented on #845
This looks fixed in #865

[2017-02-06 14:22] #845 closed

[2017-02-06 14:23] miabbott commented on #691
Fixed by #856

[2017-02-06 14:23] #691 closed

[2017-02-06 14:26] miabbott commented on #866
@giuseppe @rhatdan It sounds like this issue could be re-titled as: "Don't report --system as unrecognized option"

WDYT?

[2017-02-06 14:27] rhatdan commented on #866
Sure.

[2017-02-06 14:30] miabbott commented on #866
Based on the conversation above, we should always allow the user to specify `--system` when doing `atomic install`.  It will be up to them to provide the necessary backend (runc, chroots, portable services, etc)

[2017-02-06 15:04] giuseppe commented on #866
isn't that raised only when ostree is not available?

[2017-02-06 15:40] #860 closed

[2017-02-06 15:58] rhatdan commented on #845
We really need a test for this, to make sure we don't regress again.

[2017-02-06 16:09] miabbott commented on #866
@giuseppe I'm seeing it with a missing `runc` pkg using Fedora 25 Cloud

[code]

[2017-02-06 16:17] giuseppe commented on #866
@miabbott is ostree installed?

[2017-02-06 16:18] giuseppe commented on #866
yes, sorry, I misread your log

[2017-02-06 16:19] giuseppe commented on #866
I am going to investigate this, it should not happen when runc is not installed

[2017-02-06 16:41] giuseppe commented on #866
@miabbott I've pushed a PR here: https://github.com/projectatomic/atomic/pull/868

[2017-02-06 19:26] miabbott opened #869 "Should 'atomic images prune' require docker to be running?"
I have a situation where I only have images pulled to ostree storage.  I've deleted a tagged image, but the other layers remain.  When I try to use `atomic images prune` to remove the unused layers, the command returns that I need docker running.

Is this a hard requirement or can we make it optional?

[code]

[2017-02-06 19:27] rhatdan commented on #869
Should be optional.

[2017-02-06 19:27] rhatdan commented on #869
@baude PTAL

[2017-02-06 19:39] miabbott opened #870 "requiring active docker daemon for 'atomic images info'?"
Similar to #869

I only have an image pulled to ostree storage.  But I can't get the LABEL info of it unless docker is running.

[code]

[2017-02-06 20:10] baude commented on #870
@miabbott this is a known issue and cannot be fixed trivially.  Here's what is behind it.  Right now, in order to resolve fully qualified names, we have to know what the locally configured registries.  As of now, the only place we can reliably get them is from dockerd.  We plan to move this out of dockerd eventually which will in turn resolve this.

[2017-02-06 21:25] aweiteka commented on #855
#853 resolves remote public keys via URL.

[2017-02-07 15:38] kushaldas opened #875 "atomic 1.15-2-1.fc25 is failing with atomic run command"
Failed for me with the following error on F25 atomic host.
[code]
Going back to .14.1-1.fc25 made the above command working again.

[2017-02-07 15:49] yuqi-zhang commented on #870
Just a note, from a system container image POV, the user needs to specify the fqn or it defaults to docker hub regardless. In that sense there is no real ambiguity.

The fqn parsing isn't exactly correct either. Currently if I use `atomic images info --storage ostree docker.io/gscrivano/hello-world` it comes out as "docker.io/docker.io/gscrivano/hello-world" as the fqn

Other than the fqn, everyth

[2017-02-07 16:58] aweiteka commented on #855
#878 resolves adding via local gpg keyring

[2017-02-07 16:59] #855 closed

[2017-02-08 16:03] #869 closed

[2017-02-12 17:32] #866 closed

[2017-02-13 15:48] baude commented on #740
https://github.com/projectatomic/atomic/pull/885

[2017-02-13 15:48] baude commented on #636
Closing, re-open if not happy.

[2017-02-13 15:48] #636 closed

[2017-02-13 15:50] baude commented on #859
@bpbp-boop can you tell me how I can replicate your setup?  Id like to follow through on your issue.

[2017-02-13 21:20] bpbp-boop commented on #859
Hi @baude - nothing complex, I was evaluating atomic in an environment where I received a private address via DHCP. I tried the following ways to configure a proxy:

* `export http_proxy="http://myproxy.com:3128` - didn't work
* configuring `/etc/ostree/remotes.d/centos-atomic-host.conf` and `/etc/systemd/system/docker.service.d/http-proxy.conf` - this worked for rpm-ostree and docker but I wasn't

[2017-02-13 21:29] baude commented on #859
@bpbp-boop well the more specific you can be about your proxy setup, the more closely I can replicate your environment and possibly provide a fix/investigate.

[2017-02-13 23:41] bpbp-boop commented on #859
It's a squid proxy to allow hosts on private address ranges access to the internet. It's configured to not use a cache and proxies requests from private ranges to the wider internet. Here's the config:
[code]

To replicate my environment
* atomic host with a private IP address without access to the internet
* some host running squid with a public IP address configured to proxy requests from the pr

[2017-02-13 23:53] runcom commented on #859
If the pull code in atomic is using skopeo we had a bug around proxies which we fixed (~1 month ago). Not sure the fix made into centos atomic though.

[2017-02-16 08:51] TomasTomecek opened #898 "Does atomic still use remote inspection via docker engine?"
Notably, this patch:

http://pkgs.fedoraproject.org/cgit/rpms/python-docker-py.git/tree/remote-inspection.patch

My brief search yielded it does not anymore. I'm assuming you are using skopeo for that now.

[2017-02-16 13:51] baude commented on #898
@TomasTomecek correct!

[2017-02-17 10:25] TomasTomecek commented on #898
Okay, so I will remove the patch from python-docker-2 (which I am planning to build in Fedora rawhide early next week)

[2017-02-20 15:12] TomasTomecek commented on #898
This is now done in rawhide.

[2017-02-20 15:12] #898 closed

[2017-02-21 21:59] baude commented on #775
The impression that I got from the cockpit team was that this is not desirable.  Let's hook in @larskarlitski  for his input.

[2017-02-21 22:03] baude commented on #775
Also, it is worth noting that I am changing many of the options (as I get to each method) where only a fraction of the parameters are required (like the command line).  Else defaults are used.

[2017-02-22 08:24] larskarlitski commented on #775
I prefer proper parameters over dictionaries, but if you expect a lot of change in those APIs it might make sense to add a `a{sv]` to the end of the parameter list, indeed.

[2017-02-22 14:57] rhatdan commented on #775
Since the cockpit team is the driver for this feature, I would go with what they want.

[2017-02-24 13:12] rhatdan opened #910 "atomic-1.16.1 storage reset is broken"
I get this nice sequence.

[code]

[2017-02-24 13:12] rhatdan commented on #910
@baude PTAL
I think we are forcing docker to always be running, which is wrong,  atomic should be able to run without docker.

[2017-02-24 13:16] rhatdan opened #911 "atomic storage modify --driver overlay2 is broken."
Bug 1:

This should not fail:

[code]

We should create the file if it does not exist.

[code]
Works

Bug #2

[code]

Docker damon should not be required to run to modify config.

Bug #3

[code]

Overlay2 should be a valid option in bash completions.

[2017-02-24 13:16] rhatdan commented on #911
@shishir-a412ed can you fix this up?

[2017-02-24 17:04] #910 closed

[2017-02-24 21:38] rhatdan commented on #875
Please output
 atomic --debug run kushaldas/busybox

[2017-02-26 05:40] shishir-a412ed commented on #911
@rhatdan
Bug 1:

I am wondering what would be the case: where `/etc/sysconfig/docker-storage-setup` does not exist ? Since we ship this file as part of rpm. It should always exist unless a user accidentally deletes it.
Now if a user accidentally deletes a version of `/etc/sysconfig/docker-storage-setup` which had some configuration options e.g. `DEVS="/dev/vdb"`. Should we just recreate a new file

[2017-02-26 17:58] shishir-a412ed commented on #911
PR: https://github.com/projectatomic/atomic/pull/914 for Bug 3.

Shishir

[2017-02-27 12:39] rhatdan commented on #911
Yes I think we should create it if it does not exist.  Does docker-storage-setup/container-storage-setup work properly without a configuration file?

Bug 2 you need to remove the conflict.  Talk to @baude to see what he wants to do?

[2017-02-27 18:26] cgwalters opened #916 "atomic scan incorrectly copies ostree content"
See https://github.com/ostreedev/ostree/pull/491#issuecomment-282802207

Looking at the code, I think there should be a `def get_transient_mountpoint_base()` defined per backend.  Then `syscontainers.py` can provide that as `return /ostree/repo/tmp/`, the docker backend can have it as `/run/atomic` as it is now.

scan would then combine the base with its chosen container names.

This would allow t

[2017-02-27 19:07] baude commented on #916
Is there some subtlety I am not catching between /run/atomic and /ostree/repo/tmp ?  Can you elaborate?

Also, the mountpoint dir likely will need to be somewhat dynamic because multiple scans can occur simultaneously, so we can use a namedtemp dir or something for that.

[2017-02-27 19:12] cgwalters commented on #916
They're on different filesystems.  `/run` is a tmpfs.  `/ostree/repo/tmp` is on the same physical filesystem as `/ostree/repo`, and hence `link()` works.

[2017-02-27 19:14] cgwalters commented on #916
I understand the dynamic nature of the mountpoint directory.  I think the backend code should provide a *prefix*.  (That's what I meant with the `_base()` in the API but I wasn't clear enough)

[2017-02-27 20:55] baude commented on #916
I'm working my way through this.  The first step is to perform the backend refactor for scan.py.

The next complicating problem is that atomic scan is designed around passing in an in dir that has a bunch of chroots mounted "inside it" (a dir of dirs).  If the backends are going to have different prefix'd mount points, it challenges that base rule and all the coding assumptions around it.  I think

[2017-02-27 21:36] giuseppe commented on #916
I have some WIP here:

https://github.com/projectatomic/atomic/pull/917

It is WIP as I have not really tested it well.  As we don't really have the mount logic in the new backend stuff, I've worked directly in scan.py and mount.py.

[2017-02-28 15:06] baude commented on #781
can we close this?

[2017-02-28 16:47] #916 closed

[2017-03-01 13:44] aweiteka commented on #781
@baude yes I think this has long been resolved.

[2017-03-01 13:56] #781 closed

[2017-03-01 16:17] shishir-a412ed commented on #911
#921 fixes bug # 2. Opening a PR for bug # 1 now.

Shishir

[2017-03-01 22:05] shishir-a412ed commented on #911
#924 fixed Bug # 1. I think we can close this issue now.
All the 3 bugs are fixed.

ping @rhatdan

Shishir

[2017-03-02 14:25] miabbott opened #925 "'atomic scan' blowing up"
Using git master, I observed `atomic scan` blowing up using both `registry.access.redhat.com/rhel7/openscap` or `docker.io/fedora/atomic_scan_openscap` images.  Strangely, they blow up in different ways.

Using `registry.access.redhat.com/rhel7/openscap`

[code]

Using `docker.io/fedora/atomic_scan_openscap`

[code]

[2017-03-02 14:25] miabbott commented on #925
Spoke with @baude about this yesterday.  He's already looking at it.

[2017-03-02 14:38] #911 closed

[2017-03-04 06:56] mtrmac opened #928 "atomic fails silently on `AssertionError`"
To reproduce, right now:
[code]

This causes an `AssertionError` in `RegistryInspect.get_manifest`; per language spec, equivalent to `raise AssertionError`, i.e. with empty `args`.

This is ultimately caught in the top-level
[code]

but because `e.args` is `()`, `str(e)` is empty string. The net result is that this writes an empty line to `stderr`, and exits with a non-zero exit code, with no othe

[2017-03-04 07:44] mtrmac opened #929 "(atomic sign) does not work at all"
1. ```
   Traceback (most recent call last):
     File "./atomic", line 189, in <module>
       sys.exit(_func())
     File "/home/mitr/t/atomic/Atomic/sign.py", line 80, in sign
       manifest = ri.get_manifest()
     File "/home/mitr/t/atomic/Atomic/discovery.py", line 41, in get_manifest
       assert(self.fqdn is not None)
   AssertionError
[code]
   $ ATOMIC_CONF=tests/unit/fixtures/atomic.c

[2017-03-04 07:49] mtrmac opened #931 "Update sigstore layout in (atomic sign)"
Per https://github.com/containers/image/issues/187 etc., https://github.com/containers/image/pull/247 will change the sigstore layout from `$base/$hostname/$repo-path/$image@$algo:$hex` to `$base/$repo-path/$image@$algo=$hex`. Please update `atomic sign` accordingly.

The replacement of `:` with `=` is simple enough,
[code]

but I’m not sure what to use instead of `expanded_image` so that the host

[2017-03-06 13:46] rhatdan commented on #931
@aweiteka PTAL

[2017-03-08 14:53] baude commented on #929
@mtrmac I think all issues have been addressed.  Let me know if you see otherwise.

[2017-03-08 14:54] baude commented on #925
given that the fedora openscap image has been deprecated, we good now ?

[2017-03-08 15:30] miabbott commented on #797
The root cause of this was actually the scanner config file in `/etc/atomic.d` is using an unqualified image name.

[code]

I've filed a downstream bug for this:  [RHBZ 1418464](https://bugzilla.redhat.com/show_bug.cgi?id=1418464)

As general rule, we should be encouraging scanner providers to use the fully-qualified image name in the config files.

[2017-03-08 15:30] #797 closed

[2017-03-08 16:21] miabbott commented on #925
The case of using the `registry.access.redhat.com/rhel7/openscap` scanner was fixed in #926

And since the `docker.io/fedora/atomic_scan_openscap` scanner is no longer available, I think we are good here.

[2017-03-08 16:21] #925 closed

[2017-03-13 15:42] cgwalters opened #935 "`atomic update --force` 💣: 'Container' object has no attribute 'image'"
[code]

[2017-03-13 19:50] mtrmac commented on #929
@baude 5. was still broken; #937 should fix it.

[2017-03-15 11:09] TomasTomecek opened #939 "help: prefer file over label"
On our recent Fedora activity day, we decided that we would prefer atomic command to pick file in a container over label. Right now it's the other way around, label is preferred over file.

Would you be interested in such changes? If so, I will send a PR.

https://pagure.io/atomic-wg/issue/256

[2017-03-15 11:54] rhatdan commented on #939
I am fine with this,  @baude WDYT?

The only problem I would see with this would be if someone wanted to add a layer onto a the container they would need to replace the file, if they wanted to change the help.

[2017-03-15 15:54] TomasTomecek commented on #939
Or they can remove it. Yes it will leak in layers, but won't be present in container.

I think all metadata suffer from that issue: if you don't update them, you get them from base image. E.g. for labels this may get really confusing.

[2017-03-15 16:14] rhatdan commented on #939
Submit a pull request.

[2017-03-15 16:26] shishir-a412ed opened #940 "Error: atomic storage modify --remove-device /dev/vdb"
Error in Atomic master branch:
Return Code: 5
Failure: b'  No extents available for allocation\n'
atomic storage modify --remove-device failed

sh-4.4# atomic --version
1.16.3

sh-4.4# cat /etc/OS-release
NAME=Fedora
VERSION="26 (Server Edition)"
ID=fedora
VERSION_ID=26
PRETTY_NAME="Fedora 26 (Server Edition)"
ANSI_COLOR="0;34"
CPE_NAME="cpe:/o:fedoraproject:fedora:26"
HOME_URL="https://fedoraproj

[2017-03-16 14:01] baude commented on #935
@cgwalters I believe https://github.com/projectatomic/atomic/commit/ce57e8e43d567c49147db42bd50d0de004e7b4ef should have fixed your reported issue.  Let me know otherwise.

[2017-03-21 09:18] TomasTomecek opened #943 "pull --storage ostree results into "Not a regular file or symlink: loop1 (0)""
This is basically a copy of https://github.com/projectatomic/atomic/pull/767#issuecomment-287818865.

Since I can reproduce with latest release of `atomic`, I am reporting as a new issue.

Environment is Fedora rawhide:

[code]

The issue:

[code]

[Dockerfile](https://github.com/container-images/nginx/blob/64c2f087c19f6fb20ab33e8a1ed96e5a5a4e17ab/Dockerfile)

When I run `bash` inside the image wi

[2017-03-21 12:30] rhatdan commented on #943
Does this work correctly with atomic-1.16.4?

[2017-03-21 14:21] TomasTomecek commented on #943
No.

[code]

[2017-03-21 19:13] miabbott opened #946 "KeyError during 'atomic scan' on F26AH"
Saw this running our tests against the early F26AH builds.

[code]

[2017-03-21 20:12] rhatdan commented on #946
@baude PTAL

[2017-03-22 13:12] miabbott commented on #946
Note, this is only happening on F26.  The `atomic 1.16.4` that is being tested in RHEL does not have this problem.

[2017-03-22 13:20] rhatdan commented on #946
Excellent atomic 1.16.4 has been released to F26.

[2017-03-22 13:29] miabbott commented on #946
Looks like I told a lie.  I can reproduce this on RHEL using `atomic 1.16.4` and `atomic 1.16.5`.  However, the system needs to have an overlay mount present in order to trigger this error.

I used `ostree admin unlock` to install an RPM and then re-ran the scan and had the same error returned to me on a RHELAH system.

I forget if we support using `atomic scan` with overlayfs present on a host?

[2017-03-22 15:42] miabbott commented on #946
More lies!  I was encountering another error where `atomic scan` was failing to properly detected a supported image when overlayfs + SELinux were being used.

Sorry for the additional noise.

[2017-03-22 19:31] yuqi-zhang opened #948 "Dockerfile label capitalization issues"
It was recently highlighted during a fedora atomic wg meeting that there are some discrepancies in the capitalization of labels in Dockerfiles (https://pagure.io/atomic-wg/issue/253):

1. Some places have capitalized first characters (e.g. Name=mycontainer), such as the current examples given in https://fedoraproject.org/wiki/Container:Guidelines#LABELS, and it is being used in the rhel containers

[2017-03-22 19:46] rhatdan commented on #948
https://github.com/projectatomic/ContainerApplicationGenericLabels should be the standard.

[2017-03-23 21:20] miabbott opened #951 "'atomic scan' + overlay mount + SELinux - is this supported?"
I've been running into issues where running `atomic scan` on an Atomic Host after using `ostree admin unlock` is incorrectly reporting that the RHEL7 image is `not supported for this scan.`

It appears that the overlay mount on `/usr` is causing the problem.

My question is if this is a supported configuration?

See below for an example of the problem on F25 Atomic Host (using `atomic-1.15.1-1.fc2

[2017-03-24 14:54] miabbott commented on #951
Downstream BZ - https://bugzilla.redhat.com/show_bug.cgi?id=1435702

[2017-03-27 13:01] rhatdan commented on #951
As soon as you unlock on a rhel7 or Centos7 system, you are putting an overlay mount on the system, which breaks SELinux.  As of RHEL7.4 this should be fixed, until then it can not be supported with SELinux in enforcing mode.

[2017-03-27 14:03] miabbott commented on #951
Could `atomic` do some sort of detection if the system was in an incompatible configuration and spit out an error message?  Otherwise, users will have no idea the reason for their failed scan.

Also, since I have also observed this on an F25 system, which version of the kernel contains support for overlay + SELinux?

[2017-03-27 14:24] rhatdan commented on #951
Not sure on the version. This looks like the mounted container is mounted with a label of tmp_t?  IE All of the content inside of the container image is tmp_t.  @baude Where does atomic mount the content that is being scanned?  Is this with a devicemapper or overlay backend?

[2017-03-27 15:11] miabbott commented on #951
All my tests have been performed with a devicemapper backend.

[2017-03-27 15:21] rhatdan commented on #951
@miabbott Can you give me access to this machine?  I have no idea what is going on?

[2017-03-27 15:40] miabbott commented on #951
@rhatdan Sent an email with details

[2017-03-28 14:34] miabbott commented on #951
The root cause was determined to be a mis-label of the overlay mount when using `ostree admin unlock`.  The label was `tmp_t` but should be `usr_t`.  Kudos to @rhatdan and @baude for getting to the bottom of this.

There is a patch for this at ostreedev/ostree#763

I'll close this once I get a chance to test the new version of ostree with this fix.

[2017-03-28 14:54] miabbott commented on #951
The new ostree build landed in the latest [CentOS Continuous](https://wiki.centos.org/SpecialInterestGroup/Atomic/Devel) compose and I was able to successfully scan the RHEL7 image.

[code]

[2017-03-28 14:54] #951 closed

[2017-04-01 12:48] Edward5hen opened #960 "DBUS(atomic images list) raises attribute error"
1. When I use the dbus client to get the images list, below error raised:
[code]

2. Then I commented below code(line146 and 147) in Atomic/images.py:
[code]
and try again, but **0** is returned.
**Expected:** json format of images list should be returned.

3. If get the containers list via DBUS, similar attribute error is still raised.

[2017-04-03 16:15] #948 closed

[2017-04-03 18:37] cgwalters opened #963 "requires root privileges and touches /var during build"
https://ci.centos.org/view/Atomic/job/fahc-rdgo/1443/artifact/build-logs/failed/atomic/build.log

[code]

[2017-04-04 19:57] miabbott commented on #946
The latest F26AH includes `atomic-1.16.5-1` which appears to fix things.  Or the new OpenSCAP container on the registry fixed it.

[2017-04-04 19:57] #946 closed

[2017-04-05 18:41] jberkus opened #965 "Year is wrong for 2017 changelog entries"
... they say 2016 instead.

[2017-04-06 18:46] jlebon commented on #963
@baude Basically, the `mkdir` shouldn't be triggered by importing the module. E.g. you can simply move it to create when needed.

[2017-04-06 18:48] baude commented on #963
PTAL https://github.com/projectatomic/atomic/pull/966

[2017-04-12 10:53] hhorak opened #967 "Label 'help' in the Fedora Guidelines and in the Atomic tool"
This is a cross-posting of https://pagure.io/atomic-wg/issue/267, so it gains some attention of atomic tool guys.. Please, use the pagure ticket for the discussion.

[2017-04-13 19:51] #963 closed

[2017-04-17 15:35] miabbott opened #970 "'atomic install' doesn't try to retrieve missing images"
It looks like c134ee581b0e08fd0dcf93d1d2e55189dbeec7d1 broke the ability for `atomic install` to try to retrieve an image that does not exist on the system.

This was found on the [Fedora Atomic Host Continuous](https://pagure.io/fedora-atomic-host-continuous) stream.

[code]

Additionally, it looks like this has also broken `atomic images delete`:

[code]

@yuqi-zhang have a look.

[2017-04-17 17:58] andybrucenet opened #971 "Mac OSX bogon: 'Atomic' vs. 'atomic'"
Hello All - Pulling on Mac OSX and ran into case-sensitivity as described in https://apple.stackexchange.com/questions/112772/how-do-i-set-my-hd-to-be-case-sensitive

Is it possible to either move the `atomic` python script to a different folder (e.g. `src/atomic`) or perhaps rename either the script or the `Atomic` source folder?

That would really be appreciated :)

And let's all say Thank You t

[2017-04-17 20:09] baude commented on #970
@miabbott https://github.com/projectatomic/atomic/pull/973 should fix the install issue.  If you can ack it, I'll merge it.

The delete thing is different.  If you do:
[code]
does it work?

[2017-04-18 13:03] yuqi-zhang commented on #970
Sorry I missed the check for remote docker images, will take a look. Thanks for catching it @miabbott

As for delete, I don't think that PR touched that code at all. I can't seem to replicate your issue locally (i.e having a non-latest tag can still be detected by delete). But I do recall this issue being present before, so I will take a look.

Thanks for looking into it @baude

[2017-04-18 14:39] miabbott commented on #970
@baude Yup, forgot to specify the tag for the delete.  User error strikes again.

I'll have a look at the suggested PR and report what I find there.

[2017-04-18 18:31] mtrmac commented on #929
#937 is now merged,

[2017-04-18 18:31] #929 closed

[2017-04-19 14:45] baude commented on #960
@Edward5hen are you using a specific version of atomic? With upstream master, this works perfectly for me. I tested with:

[code]

and ran it as is (ofc with atomic_dbus.py running)

[2017-04-19 15:07] baude commented on #960
https://github.com/projectatomic/atomic/pull/974 should fix the containerslist.

[2017-04-19 18:53] jlebon commented on #845
This regression is *still* present in the latest stable ostree of Fedora AH. The last stable version in Fedora is `1.15.1` (that's about 6 releases behind git master❗️). Is there a reason why we're not updating F25 anymore? Could we at least backport the fix for this?

[2017-04-20 14:04] baude commented on #970
Should be merged now. Closing and ask to re-open if you find differently.

[2017-04-20 14:04] #970 closed

[2017-04-20 14:05] baude commented on #960
Merged ... please re-open if not satisfied.

[2017-04-20 14:05] #960 closed

[2017-04-20 14:05] baude commented on #935
@cgwalters are we good now?

[2017-04-20 14:06] baude commented on #928
@mtrmac i think is fixed now yes?  can we close?

[2017-04-20 14:19] mtrmac commented on #928
The cause of _that particular_ `AssertionError` is fixed in #932.

The _general_ handling of `AssertionError` is still to fail without any message.  To test, add e.g. `assert(False)` to `RegistryInspect.get_manifest` and cause it to be called.  As described above, the result is an empty line on output, without any text, and `--debug` is necessary to see a traceback.

[2017-04-21 17:53] baude commented on #859
@bpbp-boop can you try the upstream master of atomic now? it should be handling proxies.

[2017-04-24 14:44] #965 closed

[2017-04-24 14:50] baude commented on #705
There is:

[code]
That should be sufficient to close this yes?

[2017-04-24 14:51] #705 closed

[2017-04-24 14:53] mtrmac commented on #931
Fixed by #937.

[2017-04-24 14:53] #931 closed

[2017-04-24 15:26] baude commented on #875
Please try a more recent version and re-open if still not working.

[2017-04-24 15:26] #875 closed

[2017-04-24 15:35] baude commented on #928
Fixed in https://github.com/projectatomic/atomic/pull/959

[2017-04-24 15:35] #928 closed

[2017-04-26 13:28] baude commented on #859
Closing, feel free to re open if it doesnt work for you

[2017-04-26 13:28] #859 closed

[2017-04-26 13:29] baude commented on #571
@navidshaikh is this still relevant?

[2017-04-26 13:33] baude commented on #577
@navidshaikh  is this still relevant

[2017-04-26 13:58] navidshaikh commented on #577
I did not really create a scanner which will create multiple files as a result. Closing the issue, will re-raise if I found a use case.

[2017-04-26 13:58] #577 closed

[2017-04-26 14:53] baude commented on #820
I think this was done in 650c961425078ad6289b8fa58e0fc5176c596471 ?

[2017-04-26 14:53] #820 closed

[2017-04-26 14:54] #811 closed

[2017-04-26 17:02] #943 closed

[2017-04-26 18:17] cgwalters opened #981 "syscontainers: Avoid requiring rpmbuild"
See http://pkgs.fedoraproject.org/cgit/rpms/atomic.git/commit/?id=8c4a38a7f187c45926bdf60ae937f7a6090cbeae
:arrow_right: https://lists.projectatomic.io/projectatomic-archives/atomic-devel/2017-April/msg00059.html

I haven't looked, but offhand, I suspect it won't be that hard to construct a binary RPM without doing a "build".

[2017-04-26 22:26] giuseppe commented on #981
we allow containers to provide a customized `.spec` file.  Should we limit this for now and allow only the arbitrary copy of files to the host?  We could probably take the metadata for dependencies/conflicts (which is probably the only part that is really useful) from the image labels as we already do in case a spec file is not specified.

@rhatdan @ashcrow @TomasTomecek

[2017-04-27 09:22] navidshaikh commented on #571
I want to write an atomic scanner which will enlist number of layers for a container image.
And information about each layer (`json` file contents per layer after one extracts the tar ball of repository).

For eg:
[code]
This way, extract each image and populate information about each layer in given image.
Is this possible to do with an atomic scanner ?

[2017-04-27 12:17] TomasTomecek commented on #967
Related: https://github.com/projectatomic/atomic/issues/939

[2017-04-27 12:25] TomasTomecek commented on #981
I propose to raise this issue with Software Management team. I personally dislike constructing binary RPMs using some hacky method - this could lead into some unpredictable behavior (does RPM software keep binary RPMs compatible?).

[2017-04-27 19:38] miabbott opened #985 "need a way to skip the y/n prompt when removing images/containers"
It appears there is no way to skip the y/n prompt when using `atomic images delete` or `atomic containers delete`.

This makes automating the use of the `atomic` tool for cleaning up the images/containers a bit more difficult.

I envision something like this:

[code]

[2017-04-27 20:11] yuqi-zhang commented on #985
I think what you want is `atomic --assumeyes images delete`

[2017-04-27 21:06] miabbott commented on #985
Yup, that's what I want.  Thanks!

[2017-04-27 21:06] #985 closed

[2017-04-28 20:33] pombredanne commented on #21
I can see that three files have been left aside in the switch to LGPL: atomic, atomic.sh and mount.py https://github.com/projectatomic/atomic/search?utf8=%E2%9C%93&q=%22GNU+GENERAL%22&type= .... Is this to be expected or just an oversight?

[2017-05-01 18:01] miabbott opened #986 "'atomic uninstall' is broken"
Using git master, running `atomic uninstall` returns `[Errno 13] Permission denied`

We saw this in our automated tests on the [Fedora Atomic Host Continuous](https://pagure.io/fedora-atomic-host-continuous) stream, but I was able to replicate it with git master on F25 Cloud, too.

I think it was introduced with 1938ec31086f80b0baa9097e24a1849e21b71b52

See below:

[code]

[2017-05-01 22:41] klud1 opened #988 "atomic host + docker-machine + digital ocean"
I'm facing a problem with docker-machine and fedora atomic on Digital Ocean, when trying to create a machine via `docker-machine create node1 -d digitalocean --digitalocean-access-token XXX-XXX --digitalocean-image fedora-25-x64-atomic` it can't provision docker since yum is not present in atomic host.

the `docker-machine` command outputs the following error:
[code]

[2017-05-04 13:49] baude commented on #981
how about building from within a container?

[2017-05-04 14:21] giuseppe commented on #981
we would require to create a container everytime we want to install a container that exports files, I think this feature should be lower level than that and be better tied to the system.  I like the idea of Colin to have a `lightweight rpmbuild` that only packs these files into an .rpm.  We probably don't need to support the build from a `.spec` file part we have now and only a small subset.

[2017-05-04 17:46] baude commented on #981
Given that atomic packages would appear broken with the removal of rpmbuild, can we come up with something quickly? I'm willing to help if others are limited on time.

[2017-05-05 08:25] giuseppe commented on #981
the best short term fix is probably to not require rpmbuild and not create the rpm when it is not present, in this case we can still copy files to the host but we will not track them with an .rpm file (which is already implemented as fallback). What do you think?

[2017-05-05 15:36] rhatdan commented on #981
Can we open up a discussion with the rpmbuild maintainers to see if we can get the lightweight rpmbuild.

[2017-05-05 15:36] rhatdan commented on #981
I agree with the fallback to no rpmbuild for now, when it is not present.

[2017-05-05 16:17] rhatdan commented on #988
This repo is for the atomic cli, you really want this for the atomic host.

@cgwalters PTAL

[2017-05-05 18:02] miabbott commented on #988
@dustymabe You might be interested in this, too

[2017-05-05 18:48] dav1x opened #993 "atomic install with system container fails with non directory bind mount"
Currently in syscontainers.py when doing a _do_checkout missing bind mounts are evaluated via the config.json, unfortunately the method that creates the tmp files is creating all files with a directory (d) label.

The problem line is here:
https://github.com/projectatomic/atomic/blob/master/Atomic/syscontainers.py#L754
[code]
The True designation causes the evaluated json to create the file with a

[2017-05-05 19:17] miabbott opened #995 "unable to 'atomic run' cockpit container after 'atomic install'"
Using git master (a6d74441ad9980993af4b7168f8dd06632977a5d) on F25 Cloud.

[code]

[2017-05-05 20:11] miabbott commented on #995
If you append the label to the fully-qualified image name, the `atomic run` command works fine:

[code]

[2017-05-05 22:51] #993 closed

[2017-05-06 13:34] dustymabe commented on #988
hey @klud1 - thanks for reaching out - I responded to [your comment](http://www.projectatomic.io/blog/2017/04/fedora-atomic-digitalocean/) on the blog post. basically *curl is already installed in atomic host so this command should not be needed. Unfortunately docker machine doesn't seem to handle that case. Perhaps we could open a bug against that git repo to add support.*

A while back @cdrage w

[2017-05-06 13:43] klud1 commented on #988
Oh, @rhatdan, so sorry, my mistake.

@dustymabe, thanks for your response, just saw it, been off for some days. I'm opening an issue on their repo then.

Thanks for the help, guys!

[2017-05-06 13:50] dustymabe commented on #988
@klud1 if you don't mind mention me in that issue or link it back here so I can track it.

[2017-05-06 13:52] klud1 commented on #988
@dustymabe sure, no problem.

[2017-05-07 17:29] giuseppe commented on #981
I played a bit with it and this looks the minimal implementation I could get for building an RPM out of a tree directory:

https://gist.github.com/giuseppe/43cdb1e86f3042c4bcfd25cb68a249af

It still miss some pieces we need, but it is already able to build an rpm that `rpm -i` accepts

[2017-05-08 19:47] baude commented on #988
can we close this please?

[2017-05-08 19:47] baude commented on #986
Can we close this ?

[2017-05-08 20:00] #988 closed

[2017-05-09 14:22] miabbott commented on #986
It looks like I said this was closed in #987, so I'll close it.

[2017-05-09 14:22] #986 closed

[2017-05-09 15:20] #939 closed

[2017-05-09 17:31] baude commented on #995
Can we close this?

[2017-05-09 17:44] miabbott commented on #995
Closed via #996

[2017-05-09 17:44] #995 closed

[2017-05-10 13:21] baude commented on #935
Re-open if necessary

[2017-05-10 13:21] #935 closed

[2017-05-12 11:38] giuseppe commented on #981
I've cleaned it a bit up and moved here:

https://github.com/giuseppe/tinyrpmbuild

Would something like that work?  I think it is fine to drop support for specfiles and avoid the build of the .rpm.  If something more advanced is required a prebuilt rpm can be included in the container.

[2017-05-12 13:17] cgwalters commented on #981
I'd say we should go with it.

[2017-05-13 03:30] miabbott opened #1000 "unable to tag an image with 'atomic images tag'"
Using `atomic-1.17.1-4.fc25.x86_64` on my F25 system.

[code]

[2017-05-15 18:19] miabbott opened #1002 "unable to 'atomic images tag' a docker image into ostree storage - unhelpful error returned"
Not sure if this is supported or not, but we should be error'ing out with something more helpful than what I observed:

[code]

[2017-05-17 18:38] miabbott opened #1006 "'atomic run' using image with different tags returns error"
Using git master (3c0cbc69eafffc6f9e192ebdaf48c05517ef130f)

1. I've pulled `fedora:25` and `fedora:26` from the Fedora registry
1. Run the `date` command using `fedora:25`
1. Run the `date` command using `fedora:26`
1. Blows up

[code]

[2017-05-25 17:46] baude commented on #1002
Closing on @miabbott behalf.  Open if not satisfied.

[2017-05-25 17:46] #1002 closed

[2017-05-25 17:47] baude commented on #1000
Closing on @miabbott 's behalf.  Reopen if not satisfied.

[2017-05-25 17:47] #1000 closed

[2017-05-29 10:39] wdhif opened #1018 "atomic mount symbol lookup error"
Hi,

After installing atomic from centos-extras, trying to do an `atomic mount` give this result.

[code]

[code]

Any idea on what is causing this ?

[2017-05-29 14:56] yuqi-zhang commented on #1018
So a couple of things:

1. The correct usage of `atomic mount` requires a mountpoint (`atomic mount $IMAGE $MOUNTPOINT`)
2. Is busybox a local image on your machine? For atomic mount to work the image must be local
3. Is ostree on your machine? The error seems to be ostree related, which (assuming you're not using centos atomic host) could not be on your host.

Could you also add the debug flag an

[2017-05-29 15:14] wdhif commented on #1018
Thanks for the quick response
1. Actually I was using a mountpoint, I just missed it in the issue description, my bad, I've edited it.
2. The image is on my local machine.
3. I'm not using CentOS Atomic Host but it seems that I do have ostree.
[code]
With the debug flag the output is the same.
[code]

Thanks again for taking the time to check this.

[2017-05-29 15:38] yuqi-zhang commented on #1018
Essentially its a glib2 issue: https://bugzilla.redhat.com/show_bug.cgi?id=1371704

For now, if you don't need to use ostree related functionality, you can just remove the ostree package and atomic will just use the docker backend.

[2017-05-29 15:50] jlebon commented on #1018
The ostree package you're using is compiled with a newer glib2. We do need to more explicitly reference glib2 requirements in the package to make this fail at package install time (or e.g. pull in an updated glib2), which is what the RHBZ is tracking. You should be able to just `yum update glib2`.

[2017-05-29 16:10] wdhif commented on #1018
The `yum update glib2` did the trick.

Good job and Thank you :)

[2017-05-29 16:10] #1018 closed

[2017-05-30 19:59] #981 closed

[2017-05-31 13:46] mylespollie opened #1020 "Can you scan entire OpenShift Registry with Atomic?"
I'm trying to implement a vulnerability scanner that covers my entire OpenShift Registry.  Is this possible with Atomic and if not does anyone know of a product that can accomplish this?

[2017-05-31 19:37] miabbott opened #1021 "display the name of the container in 'atomic containers list'"
With the work landing in #1019, the warning messages print out the name of the container.  But the `atomic containers list` output has no 'name' field, which means extra steps if the user wants to investigate further.

[code]

[2017-05-31 19:41] miabbott opened #1022 "'atomic run' is unaware if the 'atomic install' command failed"
When a user tries to `atomic run` a container with an INSTALL label, but the `atomic install` hasn't been performed yet, the command errors out and informs the user.

[code]

However, if the `atomic install` command fails (or in this case returns non-zero), the `atomic run` command is happy to proceed.

[code]

[2017-05-31 19:59] miabbott opened #1023 "'atomic run' problems when mixing interactive containers and one-off commands"
This problem probably should have been addressed in #1019, but I didn't test down this path.

When the user does an `atomic run` of an image in interactive mode, subsequent uses of `atomic run` to run a one-off command will just execute that interactive container.  In some cases, this is OK, but it runs into problems when you have the same image name on multiple registries or when the image has mu

[2017-06-09 10:27] navidshaikh opened #1028 "atomic on ARM machines"
I was trying to run atomic scanners on ARM CentOS machine. However I could not install the scanner on node.

[code]

What can be done if one wants to (atomic) scan containers for ARM ?

[2017-06-09 13:11] rhatdan commented on #1028
I think you need an OpenScap scanner container built for Arm?

[2017-06-13 09:29] navidshaikh commented on #1028
That's correct. Built the atomic scanner container with `centos/aarch64`  as base image. Build, install, scan worked successfully! Thanks!

[2017-06-13 09:29] #1028 closed

[2017-06-23 07:46] Hubbitus opened #1034 "Registry: Can not run registry by official instruction: The client is not authorized to request a token using this method."
I follow to http://docs.projectatomic.io/registry/latest/registry_quickstart/administrators/index.html#registry-quickstart-administrators-index on Fedora 25 host:

[code]
Containers run:
[code]

But going to http://127.0.0.5:9090 redirects to https://127.0.0.5:8443/oauth/authorize?client_id=cockpit-oauth-client&response_type=token&redirect_uri=https%3A%2F%2Flocalhost%3A9090%2F with error:
[code]

[2017-06-27 15:27] chuanchang commented on #1002
[ajia@localhost atomic]$ git rev-parse HEAD
69f6d52370a55e20a596fc3b21ac23b3d05064c9

NOTE: remotely copy atomic source code to atomic host.

[root@atomic-host-test cloud-user]# docker images
REPOSITORY                              TAG                                                     IMAGE ID            CREATED             SIZE
dphillip/open-vm-tools-docker           extras-rhel-7.3-docker-cand

[2017-06-27 15:58] yuqi-zhang commented on #1002
@chuanchang that is the expected behaviour, no? (i.e. you still can't tag from docker->ostree but now it tells you that the image doesn't exist in the --storage you specified)

The command you want is probably `atomic pull --storage ostree docker:dphillip/open-vm-tools-docker:extras-rhel-7.3-docker-candidate-91953-20170622194059`

[2017-06-28 13:35] baude commented on #1034
It looks like you missed two steps:

$ sudo /var/run/setup-atomic-registry.sh [hostname_or_IP]

and

$ sudo systemctl restart docker.service

I ran through the instructions this morning and it worked nicely.  I'm going to close this.  Please re-open if you feel the atomic cli is failing here.  But most likely any issue would be with the image and not the atomic cli.

[2017-06-28 13:35] #1034 closed

[2017-06-28 14:13] cgwalters opened #1039 "`atomic host status` is 50x slower than `rpm-ostree status`"
[code]

Simply starting the Python interpreter is still 4x slower than `rpm-ostree status`, but it's nowhere near as bad:

[code]

So it's something slow in the `atomic` command.

[2017-06-28 14:17] baude commented on #1039
I'll look into it

[2017-06-29 11:06] Hubbitus commented on #1034
Ok. Ive start from 0:
[code]

Go to https://127.0.0.5:9090 in browser, get error of certificate as expected:
[code]
accept it, continue and on:
https://127.0.0.5:9090/#access_token=BQ0pKGCBNiDdnIXLvwRUlDG-Ph80g3Ae17pEuhJRWbk&expires_in=86400&scope=user%3Afull&token_type=Bearer
get:
[code]

[2017-06-29 11:07] Hubbitus commented on #1034
![image](https://user-images.githubusercontent.com/720349/27684826-3b43eb6c-5cd4-11e7-859b-bd40e11aa582.png)

[2017-06-29 18:35] baude commented on #1021
Should be merging now.  Close if happy.

[2017-07-03 03:15] ncoghlan opened #1041 "Provide a custom error message when running `dnf` on an Atomic host"
Depending on how cloud providers set up their default Fedora images, it's currently possible for end users to get a Fedora Atomic image without realising that existing Fedora tutorials and guides that assume a conventional RPM-managed system aren't going to work [1]. Even with RPM overlay support available (ala https://www.projectatomic.io/blog/2016/07/hacking-and-extending-atomic-host/), that sti

[2017-07-03 03:36] ncoghlan commented on #1041
@dustymabe Moving the UX discussion for "Folks that are on an Atomic Host instance, but are following a set of instructions designed for a traditional Fedora/RHEL/CentOS system" over here from Twitter.

My post above describes my suggested UX for running `dnf` or `yum` in those circumstances, and this is an initial sketch of a possible implementation strategy:

1. Add a "Atomic Host management for

[2017-07-03 13:45] baude commented on #1041
@cgwalters @rhatdan I'd like for you fellas to weigh in on this as well.

[2017-07-05 14:03] ncoghlan commented on #1041
@dustymabe also pointed out that there is a relevant naming discussion over on the `rpm-ostree` repo that would make a number of dnf/yum/rpm commands "just work" and could also provide suitable error messages for unsupported operations: https://github.com/projectatomic/rpm-ostree/issues/405#issuecomment-308502712

If that were to happen, then I think it would be a more elegant solution to this iss

[2017-07-05 16:05] miabbott commented on #1021
Looks good on git master.

[2017-07-05 16:05] #1021 closed

[2017-07-05 16:08] miabbott commented on #1023
This is working correctly in git master (77e8acd36a).

[2017-07-05 16:08] #1023 closed

[2017-07-05 16:11] miabbott commented on #1022
Fixed in git master (77e8acd36a).

[2017-07-05 16:11] #1022 closed

[2017-07-05 16:12] miabbott commented on #1006
No more tracebacks in git master (77e8acd36a)

[2017-07-05 16:12] #1006 closed

[2017-07-05 16:19] miabbott commented on #870
Oh wow, this works now!  Look ma, no `docker`!

[code]

[2017-07-05 16:19] #870 closed

[2017-07-11 15:36] peterbaouoft opened #1045 "Some commands related to multiple backends will have unnecessary calls from one backend"
There are three cases that I have found so far which involves unnecessary calling of functions:

1: when listing images with filter:
currently, our method for handling atomic images list -f is that we first have a list of all the images(no matter the backend), then we choose some of the images that matches the filter criteria to display.
In this case, some of the function calls will be unnecessary

[2017-07-13 14:21] mike-nguyen opened #1048 "Exceptions thrown when installing etcd system container on Fedora Atomic Host Rawhide"
I am receiving the following error while installing the etcd system container on Fedora Atomic Host Rawhide.

`TypeError: expected str, bytes or os.PathLike object, not NoneType`

[code]

[code]

[2017-07-13 14:25] yuqi-zhang commented on #1048
https://bugzilla.redhat.com/show_bug.cgi?id=1461994

[2017-07-13 14:32] miabbott commented on #1048
So this is fixed with #1032?

Unfortunate that Rawhide has an older version than what is shipping in F26

[2017-07-13 14:35] miabbott commented on #1048
@baude Can you build `atomic` 1.18.1-5 for rawhide?

[2017-07-13 17:24] baude commented on #1048
https://koji.fedoraproject.org/koji/taskinfo?taskID=20500087

[2017-07-19 14:18] metmajer opened #1051 "No means to specify environment variable with `atomic run`"
There doesn't seem to be a mechanism to provide environment variables to `atomic run`, which would be favorable in some cases. Is there any reason why there is no such option available (like `-e` with docker)? Cheers!

[2017-07-19 16:57] rhatdan commented on #1051
Any environment variable from your environment will get through to the RUN Command,  What did you have in mind?

[2017-07-20 13:38] metmajer commented on #1051
Thanks @rhatdan, this wasn't clear to me. Does that mean that I need to specify a placeholder for the variable in the `RUN` label, e.g.:

[code]

which would result in

[code]

? Or is this totally not needed? If that's the case, is it safe to provide default values à la

[code]

? Cheers, Martin

[2017-07-20 13:43] rhatdan commented on #1051
Yes the default value is the way to go.  We also have --opt1, --opt2 and --opt3, although I like to discourage their use.

This is my favorite solution
-e MY_VAR="${MY_VAR:-false}"

[2017-07-20 14:23] metmajer commented on #1051
Many thanks, this really helps! I would suggest to have this use case documented on the atomic run manpage.

[2017-07-20 14:23] #1051 closed

[2017-07-20 14:25] rhatdan commented on #1051
Good idea, but patches are always welcome...

[2017-07-20 14:26] rhatdan commented on #1051
@ipbabble PTAL

[2017-07-20 14:40] metmajer commented on #1051
Sure, would love to submit a patch!

[2017-07-20 15:42] miabbott opened #1052 "improve documentation for 'atomic verify'"
Currently, the only documentation available (that I was able to find) for `atomic verify` is the inline help:

[code]

Which by itself is not entirely helpful, since it doesn't describe what it does.

Additionally, there is no man page for that sub-command.

[2017-07-20 16:06] ipbabble commented on #1051
Will take a look.

[2017-07-20 16:08] metmajer commented on #1051
@ipbabble: I've just provided a PR

[2017-07-20 16:12] ipbabble commented on #1051
I just saw that.  :)

[2017-07-20 16:18] rhatdan commented on #1051
William we are missing some other man pages for atomic, if you are interested in doing your man page magic again.

[2017-07-20 16:54] ipbabble commented on #1051
Ack. I'm interested.

[2017-07-23 06:19] davivcgarcia opened #1054 "Bash Auto-completion showing invalid option 'rhost' on Fedora Atomic 26"
### Description

The latest system image for Fedora Atomic 26 has bash auto-completion showing 'rhost' as a option instead of 'host'.

### Outputs

[code]

[2017-07-23 11:31] rhatdan commented on #1054
# atomic rhost (if commctl.cli is available)
    try:
        import commctl.cli
        rhostp = subparser.add_parser(
            "rhost", help=_("execute cluster host management commands"))
        commctl.cli.add_host_commands(rhostp)
    except ImportError:
        pass

rhost support is disabled unless you install  Commissaire.

[code]

[2017-07-23 11:59] giuseppe commented on #1054
related to this issue, there is an open PR for dropping Commissaire support here:

https://github.com/projectatomic/atomic/pull/1046

[2017-07-27 17:22] jlebon opened #1057 "Test failures on Fedora 26"
See https://github.com/projectatomic/atomic/pull/1056.

On Fedora 26 AH, we have the following failures (among others):

[code]

[code]

[code]

[code]

Some of them also happen on the Fedora 26 Cloud.

[2017-08-01 10:02] judavi opened #1059 "Error setting up a proxy"
Hello,
I'm trying to use atomic with a proxy, so I'm doing:

[trevor@sd]$ sudo vi /etc/atomic.conf

default_scanner:
default_docker: docker
registry_confdir: /etc/containers/registries.d/
discover_sigstores: true
sigstore_metadata_image: sigstore

default_storage: docker

**http_proxy=http://localhost:3128/**
#https_proxy=http://localhost:3128/
#no_proxy=

And when I try to run any command I got t

[2017-08-01 10:13] judavi commented on #1059
The issue is fixed on: https://github.com/projectatomic/atomic/commit/ae782515a043c5638c04c0d576fe2c47a9eab32a

Is because is YAML so the format is http_proxy: http://localhost:3128/

[2017-08-01 10:14] #1059 closed

[2017-08-01 14:00] baude commented on #1057
im working on this

[2017-08-06 19:25] baude commented on #1054
that PR was merged ... can we close this now ?

[2017-08-07 12:40] carlpett opened #1061 "atomic run does not work on system containers?"
Hi,
I'm trying to debug my first system container by running `atomic run --storage ostree myimage:tag /bin/bash`. However, this exits with an error `Args instance has no attribute 'system_package'`. This seems to come from [here](https://github.com/projectatomic/atomic/blob/c1912d506949298ea2e9690b95e1a5e9b8a809f4/Atomic/syscontainers.py#L335). As far as I can tell, `self.args` is set from [here](

[2017-08-07 12:53] rhatdan commented on #1061
@giuseppe @baude PTAL.

[2017-08-07 13:05] #1054 closed

[2017-08-07 13:07] giuseppe commented on #1061
System containers do not use "atomic run". The way to use them is through "atomic install" and "atomic uninstall". I was thinking of adding something similar for running arbitrary commands in a system container but for now I suggest to either modify manually the config.json file to specify your command (before systemctl start $service) or if it is possible to use directly "runc exec" to execute a

[2017-08-07 14:00] carlpett commented on #1061
Ok, I was hoping that run would work to test it out, but then I will be testing out with `runc` instead (maybe there could be a somewhat friendlier error to indicate that what I was trying could never work?).

Thanks!

[2017-08-07 14:00] #1061 closed

[2017-08-07 15:56] carlpett commented on #1061
@giuseppe Is there a better place to ask questions about how to build these containers than here?
After tearing my hair out for a while, I finally found that system containers do not care about the `INSTALL` label, meaning my installation scripts do not run. So I could just skip being a system container, but non-system containers do not get the nice systemd integration, so instead I need to manage

[2017-08-07 16:19] giuseppe commented on #1061
Yes system containers do not use the INSTALL label as we are trying to achieve a more "controlled" installation to the host. The documentation on this part must be improved, in the meanwhile could you explain what/how would you like to install? For example system containers support copy of files to the host on installation by placing these files under /exports/hostfs. For example /exports/hostfs/f

[2017-08-07 16:40] rhatdan commented on #1061
Perhaps we should make atomic command says something if there is a INSTALL Label. Something like

INSTALL Label is ignored when using system containers.

[2017-08-07 18:11] baude commented on #1057
@jlebon care to rebase and try your PR again ?

[2017-08-07 19:07] carlpett commented on #1061
@giuseppe Ah, installation of files is the first piece of the puzzle, thanks! :)

With all respect for the difficulty in keeping good and up-to-date docs, the current ones are a bit confusing, especially with regards to the difference between system containers and "normal" containers. For example, this line:

... links to [LABELS.md](https://github.com/projectatomic/atomic-system-containers/blob/m

[2017-08-08 08:10] carlpett commented on #1061
Ok, so I got this almost working now, thank you very much! Any plans to support templating files that are added to /exports/hostfs? At the moment I can wrap my executable with a script that does it, but having it set at install-time would seem nicer, to me at least.

[2017-08-08 08:31] giuseppe commented on #1061
you can specify them in the `/exports/manifest.json` file as:

[code]

[2017-08-08 09:05] carlpett commented on #1061
Amazing, that was _exactly_ what I wanted! :)

[2017-08-08 18:42] jlebon commented on #1057
@baude Still seeing many of the same issues unfortunately. Maybe just add on to that PR to make it easier to iterate? (Or alternatively cherry-pick my commit and iterate in your own branch).

[2017-08-15 15:35] thomasmckay opened #1066 "atomic push not using --gnupghome arg"
The atomic push command is not using specified --gnupghome causing images not to be found when running as another user (eg. sudo).

Work around is to specify GNUPGHOME env var.

[2017-08-15 15:38] thomasmckay opened #1067 "atomic push with --insecure generates deprecation warning for --tls_verify"
[code]

Verisions
[code]

[2017-08-16 11:54] ununseptium opened #1068 "Doesn't Atomic support corporate proxys?"
Hi there,
currently i'm trying to evaluate atomic hosts for our environment but i somehow cannot get this to work.

I'm somewhat experienced with the usual docker proxy behavior and already tried adding the proxy info as a custom docker daemon environment variable, also added it to /etc/sysconfig/docker and even exporting HTTP_PROXY and HTTPS_PROXY doesn't work.

It should be mentioned that adding

[2017-08-16 13:27] baude commented on #1068
could you try adding proxy information to /etc/atomic.conf?

[2017-08-16 14:06] ununseptium commented on #1068
Thanks for the quick response. I appreciate that.
Besides the fact that it's super hard to search for that specific part of your documentation, i literally still can't find it on the projectatomic.io website nor on the redhat specific documentation pages, the proxy settings doesn't allow credentials as it seems.

The python error trace tells me that an unexpected : caused the crash which is a litt

[2017-08-16 17:33] baude commented on #1068
at one point there was a typo in that file ... where a '=' should have been a ':'.  Any chance that might be the issue here? Also, if you want to interactively hack at this, i'm on freenode \#atomic as rangerpb.

[2017-08-17 13:48] baude commented on #1067
https://github.com/projectatomic/atomic/pull/1072

[2017-08-17 13:49] baude commented on #1066
https://github.com/projectatomic/atomic/pull/1071

[2017-08-17 13:49] baude commented on #1068
can this be closed now ?

[2017-08-17 13:58] ununseptium commented on #1068
Yes, but i hope the docs are going to be improved in the future ;D

[2017-08-17 13:58] #1068 closed

[2017-08-18 14:17] baude commented on #1048
closing ... re open if not happy

[2017-08-18 14:17] #1048 closed

[2017-08-23 17:54] thomasmckay opened #1077 "atomic push --sign_by uploads duplicate signatures"
To reproduce, use atomic push --sign_by twice on the same image, then oc describe imagestreamtags to see that the same signature is listed twice.

atomic version 1.18.1

[2017-08-23 18:16] baude commented on #1077
is this an issue with atomic? seems like atomic is doing its thing and pushing the signature as its being told to? is the objection that there are duplicates?

@mtrmac thoughts?

[2017-08-23 18:36] mtrmac commented on #1077
@thomasmckay I’d expect `--sign-by` used twice to create two different signature blobs (e.g. different embedded timestamps). [OTOH, copying the same already-signed image to the same destination twice should not result in the signatures being duplicated.]

If you are seeing two byte-for-byte-equal signatures, can you paste the full contents (`oc get -o json` or similar) of the signatures array?

[2017-08-23 18:48] yuqi-zhang opened #1078 "Unresolved issues/concerns for F26"
This issue will be used to track some errors/concerns that showed up on f26 cloud/atomic. The PR to "pacify" the tester is https://github.com/projectatomic/atomic/pull/1076 so we can start testing on f26, but the issues are as follows:

1. test_storage should possibly be reworked. The current test
setup is conflicting with the new default of overlay as a driver.
For now, the test for generated d-s

[2017-08-23 18:57] thomasmckay commented on #1077
Interesting. I thought they were the same at first glance but they are indeed different in the json. I'll close this issue.

[code]

[2017-08-23 18:57] #1077 closed

[2017-08-23 21:04] giuseppe commented on #1078
@yuqi-zhang https://github.com/projectatomic/atomic/pull/1079 should fix 4.  Unfortunately the version of gzip/flate in golang1.8 produces a different output.  We need to vendor the version in golang 1.6 so we can produce the same output

[2017-08-27 12:58] uocxp commented on #1020
I am also having the same question !

[2017-08-28 12:24] rhatdan commented on #1020
atomic is able to scan containers that are stored in COW File systems or regular file systems, it can not currently scan images that are stored in a registry.  It would need to download the images and explode them on disk, to do this.

[2017-09-11 10:50] runcom opened #1097 "can't add trust for specific images and/or repositories"
Right now we can only add trust for registries like this
[code]
but it's impossible to do something like this:
[code]
However, the `policy.json` allows for images/repositories to be used.
[code]

@baude @rhatdan @mtrmac we need to fix this

[2017-09-11 12:19] rhatdan commented on #1097
@aweiteka FYI

[2017-09-13 17:54] dahaic opened #1099 "Provide a method to enforce installation of an image"
Hello,
I'd like to present you scenario we face with openscap (scanner image). For the image to work, it is necessary to be installed by running `atomic install rhel7/openscap`. But actually it won't fail when installation is not performed, it will just behave in different way. So we have to track somehow that it is not installed (which is not easy from the perspective of the container) and explai

[2017-09-20 18:28] mbarnes opened #1101 "storage: Processing --lvsize option still tries to use libdss.sh"
Atomic code is still using `docker-storage-setup`, but there's no `libdss.sh -> libcss.sh` soft link like there is for `docker-storage-setup -> container-storage-setup`.

[code]

[2017-09-20 18:37] mbarnes commented on #1101
Whoops, nevermind.  This is fixed in master already, was looking at old code.

[2017-09-20 18:37] #1101 closed

[2017-09-21 21:09] jlebon commented on #1057
This was fixed by https://github.com/projectatomic/atomic/pull/1076.

[2017-09-21 21:09] #1057 closed

[2017-10-06 09:47] jirib opened #1108 "odd behavior for atomic install when using dockertar"
[code]

[2017-10-09 12:04] mbarnes opened #1110 "Should "atomic storage reset" check for immutable flags?"
Last week I rolled out overlay2 to an internal OpenShift cluster maintained by operations.

One technical bump I hit was operations places an immutable flag (`chattr +i`) on `/var/lib/docker/volumes`, which caused `atomic storage reset` to fail to recursively delete `/var/lib/docker`.

I was able to work around it, but just raising it here for your consideration.

Is this something `atomic storage

[2017-10-09 13:23] rhatdan commented on #1110
Is there a find command to look for immutable files?

[2017-10-09 13:23] rhatdan commented on #1110
Of course if an admin wants to make something immutable, then overriding it by default might not be the correct thing to do.  We could point it out to the user, I guess.

[2017-10-09 13:24] rhatdan commented on #1110
@rhvgoyal WDYT?

[2017-10-09 17:06] mbarnes commented on #1110
Not on Linux.  (BSD find apparently has `-xattrname`)

Best solution I found so far is [this answer on Stack Exchange](https://unix.stackexchange.com/questions/132795/how-to-search-for-files-with-immutable-attribute-set/134027#134027).

[2017-10-10 14:38] TomasTomecek opened #1113 "mount fails using --live option when ran from a container"
I am trying to do `atomic mount` from within a container (running test suite from a container):

[code]

atomic-1.19.1-4.fc28.x86_64

[2017-10-10 14:42] TomasTomecek commented on #967
@hhorak can we close? all related atomic WG issues are closed.

[2017-10-10 15:13] rhatdan commented on #1113
I have a feeling this will not work well.  @rhvgoyal Any ideas.

[2017-10-10 15:27] hhorak commented on #967
Sure.

[2017-10-10 15:27] #967 closed

[2017-10-22 13:19] wydwww opened #1118 "Cannot build on debian"
I followed the debian [doc](https://github.com/projectatomic/atomic/blob/master/docs/install/Debian.md)
First, I can't `apt-get install python-pylint`, then I tried `apt-get install pylint`, it worked.

Then `make install` failed, log was:
#make install
/usr/bin/python setup.py build
Traceback (most recent call last):
  File "setup.py", line 5, in <module>
    import Atomic as _Atomic
  File "/hom

[2017-10-31 06:45] wydwww commented on #1118
I tried to install on another debian machine, and make install finally got:

Messages
--------

+-----------------+------------+
|message id       |occurrences |
+=================+============+
|bad-option-value |9           |
+-----------------+------------+

Global evaluation
-----------------
Your code has been rated at 9.96/10 (previous run: 9.95/10, +0.00)

Makefile:41: recipe for target 'py

[2017-10-31 12:57] Evalle opened #1122 "Can't run atomic command on Centos 7"
When I run atomic from cli on an instance with non-graphical Centos 7 I recieved:
[code]
Manual installation of `pyobject3` solved my issue

I think that the package `pygobject3` should be added as the dependency for `atomic` on Centos 7

System info:
[code]

[2017-11-15 16:18] mike-nguyen opened #1129 "atomic images list --json should show same type as in the standard output"
When running atomic images list --json, the json output has a `type` of `image` instead of `docker` or `ostree` that is displayed when running without the --json option.  There should be parity between the json and standard output.

[code]
I'm running on Fedora 26 Atomic but this issue can also be seen on RHEL Atomic Host 7.4.2 and CentOS Atomic Host.
[code]

[2017-11-17 16:34] thomasmckay commented on #1066
@baude - What version of atomic is this fixed in?

[2017-11-18 03:51] mike-nguyen commented on #1129
Looks like this was fixed in this commit by
 @giuseppe https://github.com/projectatomic/atomic/commit/8a73b725784514816bd845bb89ded8a49b6aa54c

[2017-11-18 03:51] #1129 closed

[2017-11-22 20:48] runcom commented on #1097
Ping on this one

[2017-11-24 12:00] rhatdan commented on #1097
@baude PTAL

[2017-11-24 12:42] giuseppe commented on #1097
I am not able to reproduce this on the current master:

[code]

Is it supposed to work this way?

[2017-11-24 13:44] runcom commented on #1097
awesome, we can close this now then

[2017-11-24 13:44] #1097 closed

[2017-11-28 18:34] ashcrow opened #1134 "cri-o backend?"
It would be nice to be able to use the same commands when using ``cri-o`` as the runtime. Is this something that would make sense to do within the ``atomic`` command by providing a backend?

/cc @cgwalters

[2017-11-28 18:43] rhatdan commented on #1134
containers/storage is the same backend as CRI-O we are completing libpod/kpod right now to allow atomic tools to fully integrate with CRI-O.

[2017-11-28 18:49] ashcrow commented on #1118
Apologies for the time between a response.

This is likely difference between the package names between Fedora and Debian and the Fedora name snuck in. It looks like the Debian package is indeed [pylint](https://packages.debian.org/sid/pylint) or [pylint3](https://packages.debian.org/sid/pylint3)

The referenced document also seems to be missing:

- [python-slip](https://packages.debian.org/sid/py

[2017-11-28 19:24] #1134 closed

[2017-11-29 03:31] wydwww commented on #1118
@ashcrow Thanks for response.
I updated this git repo, installed all these packages and ostree, but still no luck.
Same error:

[code]

[2017-11-29 14:13] ashcrow commented on #1118
@wydwww can you provide the output of:

[code]

It should look like:
[code]

unless you are getting the wrong ``gi`` library via pip.

[2017-11-29 14:19] ashcrow commented on #1118
@wydwww also note it looks like ``gi`` is split out into a different package in Debian: (python-gi)[https://packages.debian.org/sid/python-gi].

[2017-11-29 14:33] wydwww commented on #1118
After I pip uninstall gi and use python-gi, the output of this script is same with yours. Looks like this problem fixed. Thanks.

Now comes the error I mentioned in my second comment previously.
I'm still confused about this, can you please help me look at this?
The error message is:

[code]

[2017-11-29 14:58] ashcrow commented on #1118
@wydwww I believe this is differences in ``pylint`` versions. The actual error is ``E0012`` which denotes when ``pylint`` gets an option that it doesn't understand. My best guess is that the ``pylint`` installed is older than the one used for developing on the ``atomic`` command.

I wasn't able to reproduce with ``pylint`` 2 1.7.4.

You can either upgrade ``pylint``, disable ``bad-option-value``,

[2017-11-29 20:02] miabbott opened #1138 "'atomic images list' returns "No such file or directory: '/var/lib/containers/atomic/.storage'""
While testing an RPM that @baude built for me to test #1137, I noticed the following error on F27 Atomic Host after using `rpm-ostree ex override replace` to install the `atomic` and `atomic-registries` RPMs.

[code]

[2017-11-29 20:03] miabbott commented on #1138
Here's the koji task that produced the RPMs

https://koji.fedoraproject.org/koji/taskinfo?taskID=23454142

[2017-11-29 20:11] miabbott commented on #1138
`atomic-1.20.1-3.fc27.x86_64` doesn't appear to show the same issue

[code]

[2017-11-29 20:22] miabbott commented on #1138
@giuseppe can you have a look?  @baude says it is all your fault  😉

[2017-11-29 20:36] miabbott commented on #1138
Not 100% certain but it d494e182 looks like it could be a culprit

[2017-11-29 20:46] giuseppe commented on #1138
yes, I confirm it is all my fault :-)  Going to take a look

[2017-11-29 20:53] ashcrow commented on #1138
@giuseppe I have a fix incomming.

[2017-11-29 21:40] #1138 closed

[2017-11-30 09:50] wydwww commented on #1118
@ashcrow Thanks for replying!
I installed newest version of pylint source, because the Debian package is 1.6 version. Now it's 1.8.0.
But still error, then I removed the pylint part from makefile.
Then I met some other problems, I'm still working, I will keep you updated.
It's getting better. Thanks!

[2017-12-02 10:01] wydwww commented on #1118
@ashcrow Finally it worked!

I updated the pylint to newest but still error, although the mark is 10/10.
Then I removed pylint part from Makefile, after installing golang, I met some permission issues and fixed.

The pylint issue is the main problem although I still don't know what goes wrong. Anyway it can build now on Debian.

Thanks

[2017-12-02 10:01] #1118 closed

[2017-12-04 13:51] ashcrow commented on #1118
@wydwww You're welcome 🎆 😄. Do you want to put a PR in to update the Debian doc or would you rather I did it?

[2017-12-04 13:52] wydwww commented on #1118
@ashcrow I can make one in two days.

[2017-12-04 13:54] ashcrow commented on #1118
@wydwww Great! cc me on the PR when it's ready and I'll review it ASAP 😄

[2017-12-08 16:12] mscherer opened #1144 "Unhelpful error message due to wide Exception catching"
Today, I did setup a Fedora 26 atomic VM and while trying to follow openshift ansible documentation, I stumbled on a curious bug:
[code]

Turn out the traceback is being hidden by https://github.com/projectatomic/atomic/blob/master/atomic#L211

That's not a very good UI since this mean people can't report accurate information or error, and would assume the error is on their side rather than on the

[2017-12-08 16:19] mscherer opened #1145 "Atomic on Fedora 26 Atomic Host fail with "string indices must be integers""
As told on #1144 , I just installed Fedora 26 atomic, and after patching for showing a traceback, I see this:
[code]

My version of atomic is
[code]

And the ostree version:
[code]

Without --system, it work fine.

[2017-12-08 16:36] mscherer opened #1146 ""atomic run openshift/origin-ansible" result into 'NoneType' object has no attribute 'get_label'"
Same as #1144 , I tried the following command:
[code]

After downloading everything, it show this:
[code]

The traceback is the following (using a modified atomic to display it, due to #1144):
[code]

[2017-12-08 17:40] mscherer commented on #1146
I decided to try with another docker image, like busybox, and it work. It doesn't download it several time, and it run it without trouble on first try.

So there is something weird with the openshift/origin-ansible image that trigger the bug, but I can't see what.

[2017-12-08 17:42] mscherer commented on #1144
In the mean time, i doubt about --debug to show the traceback, but the point is still valid, we should show unexpected errors as regular error. Something along the line "unexpected error, please run again with --debug" would at least help to understand the problem is not supposed to be "normal".

[2017-12-08 21:21] mscherer commented on #1146
Ok so the problem is that atomic fail to pull the image (not enough disk space), but fail to report the issue. Once I used docker pull, all was fine.

I have added disk and will see if #1145 is also suffering from the same root cause.

[2017-12-09 02:55] rhatdan commented on #1144
@baude PTAL

[2017-12-09 15:10] mscherer commented on #1145
Seems to be a duplicate of https://github.com/projectatomic/atomic/pull/1055 , so it need a backport Fedora side.

[2017-12-09 15:10] #1145 closed

[2017-12-14 20:25] peterbaouoft opened #1149 "Start refactoring for syscontainers.py"
We may want to start the refactoring process for syscontainers.py.(I am gonna do it =) if no objections). First I think we can start refactoring by removing potential duplicated code sections, and make those duplicated parts become a function. WDYT? Also, here are some duplicated code sections that I think we could start moving them into a function:

1: in function run_once and _do_checkout, the c

[2017-12-28 20:45] peterbaouoft commented on #1149
Another part of the refactoring would be to break `do_checkout` function logic down into multiple readable pieces. Then the users who read the code will benefit from the separation of the logic.

[2017-12-28 21:00] peterbaouoft commented on #1149
It would also be nice that we can start to break the long parameter list down into dictionaries or classes. For instance, in function _do_checkout, we can break the parameter list into the following:

[code]

[code]

[2018-01-03 10:33] TomasTomecek opened #1153 "add support for `atomic mount --live` for overlayfs backend"
I understand this is just about writing the code for atomic, right? Or is there a technical reason why containers stored on overlayfs backend can't be mounted RW?

[code]

[2018-01-03 13:06] rhatdan commented on #1153
Overlay does not allow the file system to be mounted in two places at the same time, is probably this issue.   @rhvgoyal WDYT
One thing we could do is what we are doing with buildah and kpod, is the mount command returns the mount point rather then the user specifying it.  This way we could just mount up the file system in the standard location, and return the path.

[2018-01-03 14:15] TomasTomecek commented on #1153
How about a bind-mount?

[2018-01-03 14:36] rhatdan commented on #1153
Yes that would work also.

[2018-01-05 00:03] Firstyear opened #1157 "enhancement: atomic containers update *"
Hi,

When updating an atomic host there are two parts that need updating. First the ostree (rpm-ostree update). The second is the running containers. Dockers update story for "updating from version A to B" in near impossible to find or access.

Atomic improves this greatly by providing an "atomic containers update <image>" command. This allows a docker image to be pulled and updated, and on contai

[2018-01-06 12:50] rhatdan commented on #1157
I think this is a good idea. but probably should have --all for the option.

@baude @giuseppe PTAL

[2018-01-08 11:04] giuseppe commented on #1157
this was just implemented:

https://github.com/projectatomic/atomic/pull/1136

We have an `atomic images update --all` to update all images, and `atomic containers --update` to update all the containers, it is targetting mainly system containers.

@Firstyear, could you verify with the last version from git if it works well with Docker?

[2018-01-08 14:15] ashcrow commented on #1122
@jasonbrooks do you have a few to double check this one?

[2018-01-08 16:19] miabbott opened #1158 "unable to install system container; "ostree:" is not supported in this build"
In the [Fedora Atomic Host Continuous](https://pagure.io/fedora-atomic-host-continuous) composes, we've been seeing the following error when trying to install a system container:

[code]

Due to test configuration issues, we didn't spot this until now, but it is present in the oldest commit available in the FAHC compose from Dec 10:

[code]

I'll try to reproduce in other environments, but wanted

[2018-01-08 16:20] miabbott commented on #1158
debug output

[code]

[2018-01-08 16:25] miabbott commented on #1158
Well, based on that output, it looks like this is a `skopeo` problem...

[2018-01-08 16:41] jasonbrooks commented on #1122
I just tried this w/ atomic 1.20.1 on a regular (non-atomic) CentOS install, and didn't hit the error. I'll close it, we can reopen if it recurs.

[2018-01-08 16:41] #1122 closed

[2018-01-08 16:55] rhatdan commented on #1158
@runcom ptal

[2018-01-08 17:33] miabbott commented on #1158
I tried my hand at a `git-bisect` between projectatomic/skopeo@d8e506c6480423e03d1b217d042ee0124238d388 and projectatomic/skopeo@5a8f21263050a127f26e42dd411bf7efb5754667, but I wasn't able to reproduce the error.

I did that on a F27 Cloud host with `ostree-2017.15-1.fc27.x86_64` installed (and also tried with `ostree-2017.14-2.fc27.x86_64`), but no joy.

[2018-01-08 17:44] cgwalters commented on #1158
I bet it's related to https://src.fedoraproject.org/rpms/skopeo/c/b92cb64669ca811bf214c0eafcf039246c8f0b35?branch=master

[2018-01-08 17:44] cgwalters commented on #1158
Which also got backported to the f27 branch...

[2018-01-08 17:48] cgwalters commented on #1158
Ping @lsm5 - :arrow_up: can be reverted now right that modularity has/will change to an "inherit from base stuff" approach right?

[2018-01-08 21:08] vbatts opened #1159 "f26 dependency issue"
[code]

[2018-01-09 10:53] giuseppe commented on #1157
`atomic images update --all --storage docker` works for me.  Although, Docker containers are not recreated and they will still use the old image.

For system containers we have `atomic containers update --all`, but that is easy to do since we know exactly how to run it.

Should this be done with Docker containers?  If so, how to update a container given an updated image pulled in the storage?  Onl

[2018-01-09 15:08] vbatts commented on #1159
ping @lsm5 @rhatdan

[2018-01-09 15:32] vbatts commented on #1159
oh weird. I'm not sure why that instance is fetching some repodata, but not all?
Just tried it again and it installed fine..
[code]

[2018-01-09 15:32] #1159 closed

[2018-01-10 07:44] Firstyear opened #1161 "Update flatpaks with atomic"
Similar to the issue for --all updating docker containers with atomic upgrade, it would be useful if a similar command existed integrating atomic upgrade along with flatpak update. This would be most useful to atomic workstations with system-installed flatpaks.

[2018-01-10 19:31] #1153 closed

[2018-01-11 16:10] clcollins opened #1162 "atomic pull command fails to pull from private docker registry requiring authentication"
Attempting to pull an image from a private registry requiring authentication using `atomic pull` fails with `Failed: unauthorized: authentication required`, even if --src-creds are supplied

The command being run is:
`atomic pull <private_registry>/<image> --src-creds <username:password>`

The issue appears to start with [pull.py, line 54](https://github.com/projectatomic/atomic/blob/master/Atomic

[2018-01-15 21:15] peterbaouoft commented on #1149
From the discussion with giuseppe about shortening the parameter list, we then decided to use a dictionary to wrap all of the parameters from '_do_checkout'. This theoretically should make `_do_checkout` to look a lot nicer after other "refactoring improvement" are made on top of the parameter refactoring

[2018-01-16 21:46] peterbaouoft commented on #1149
#TODO: Add unit test/integration test to at least track the correctness of the values being outputed from '_do_checkout', noticed in #1164, the "incorrect values" was not caught by the integration test. Will assign this to myself once other refactoring are complete. Once again, srry for not noticing it earlier =).

[2018-01-17 15:06] cgwalters commented on #1158
https://src.fedoraproject.org/rpms/skopeo/c/e10b235e702f784795e2ba2f2fe73b22ea447877?branch=master

[2018-01-17 16:10] cgwalters commented on #1158
Confirmed fixed in

[code]

[2018-01-17 16:10] #1158 closed

[2018-01-19 04:59] #765 closed

[2018-01-19 18:28] giuseppe commented on #1157
@Firstyear have you had a chance to look at it?

[2018-01-22 20:05] peterbaouoft commented on #1149
**Status**: refactoring should be almost/half way done once all of the pull request above are merged, the future changes/pull requests will be based on further discussion =)

[2018-01-22 21:28] clcollins commented on #1162
Nope, totally doesn't do that at all.  I don't know what happened to my brain last week.  Everything is fine.  Nothing to see here.

Apologies for the issue spam.

[2018-01-22 21:28] #1162 closed

[2018-01-24 11:58] markdand opened #1165 "Atomic install fails with AttributeError on Ubuntu"
Hi,

After following the installation documents for Debian, I get the following error when trying to run atomic install, using --debug

`'Namespace' object has no attribute 'system'
Traceback (most recent call last):
  File "/usr/bin/atomic", line 185, in <module>
    sys.exit(_func())
  File "/usr/local/lib/python2.7/dist-packages/Atomic/install.py", line 110, in install
    str_backend = 'ostree

[2018-01-24 19:42] peterbaouoft commented on #1149
The tentative plan for the next is
- [ ] **Ultimate Goal ** : try the best to make the entire `_do_checkout` only does one thing / contain only one abstraction level, which is to checkout the container
- [ ] Enhance the info check system container test to detect / verify info content
- [ ] have a further discussion about future todo list

[2018-01-30 11:55] giuseppe commented on #1165
It looks like you have not ostree installed, so the `self.args.system` is not set.

Could you verify if https://github.com/projectatomic/atomic/pull/1167 solves the problem for you?

[2018-01-30 17:48] #1165 closed

[2018-01-31 07:28] markdand commented on #1165
Hi,

There is not longer a failure, however all the command does now is output 'Registries' and doesn't seem to perform any actions.

Here is the debug output
`Namespace(_class=<class 'Atomic.install.Install'>, args=['servername'], assumeyes=False, debug=True, display=False, func='install', ignore=False, image='projectatomic/atomic-registry-install', name=None, opt1=None, opt2=None, opt3=None, pro

[2018-01-31 10:32] giuseppe commented on #1165
is Docker running?

[2018-01-31 10:32] giuseppe commented on #1161
/cc @alexlarsson

[2018-01-31 10:33] giuseppe commented on #1157
closing for now as I've not heard anything back.  Please feel free to reopen

[2018-01-31 10:33] #1157 closed

[2018-01-31 10:44] markdand commented on #1165
Yes it is and this is the version `Docker version 17.06.2-ee-4, build dd2c358`

[2018-01-31 10:52] alexlarsson commented on #1161
Shelling out to `flatpak update --system` should be enough to make this work.
I'm not sure how the atomic update command works though.

[2018-01-31 10:54] giuseppe commented on #1165
I see, it seems like "docker info" doesn't output Registries on a non Red Hat system.  I can try to setup a VM later, but in the meanwhile, does this patch work for you?

[code]

[2018-01-31 11:12] markdand commented on #1165
Thanks,
Applied the patch but now get a different error:
`Namespace(_class=<class 'Atomic.install.Install'>, args=['sahl-ubu07'], assumeyes=False, debug=True, display=False, func='install', ignore=False, image='projectatomic/atomic-registry-install', name=None, opt1=None, opt2=None, opt3=None, profile=False, storage=None)
'Namespace' object has no attribute 'system_package'
Traceback (most recent

[2018-01-31 11:19] giuseppe commented on #1165
I guess this was last tested on a non Red Hat system long time ago..

`--system-package` is used also for Docker, so it should not depend from OSTree:

[code]

[2018-01-31 13:34] rhatdan commented on #1165
Upstream Docker does not support a list of registries to search, so this will not work.  atomic tool should be able to handle it.

[2018-02-01 15:02] giuseppe commented on #1165
@markdand https://github.com/projectatomic/atomic/pull/1171

[2018-02-01 20:21] ashcrow opened #1173 "Labels are not always parsed correctly"
A user following the [Openshift Ansible instructions](https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html#running-the-advanced-installation-containerized) was unable to use the run_once functionality. After digging into the code a bit I found that ``_inspect_system_branch(..)`` loads the manifest and assumes it will have the labels:

[code]

However, the

[2018-02-01 20:21] ashcrow commented on #1173
/cc @giuseppe

[2018-02-01 20:45] giuseppe commented on #1173
Fixed with: https://github.com/projectatomic/atomic/pull/1170 @baude is cutting a new release that will contain the fix

[2018-02-03 18:34] 74cmonty opened #1174 "Modify keyboard layout to "german no dead keys""
Hi,
I've installed Fedora Atomic host on KVM using the qcow2-image.
The default keyboard layout is US, means qwerty.

Question:
How can I modify the keyboard to "german no dead keys" (=qwertz)?

THX

[2018-02-05 19:15] miabbott opened #1176 "files landed when installing system container have `default_t` label"
Starting with `atomic-1.21.1-1.fc27.x86_64`, files landed when installing a system container are ending up with the SELinux label of `default_t`

[code]

Previous versions of `atomic` would land those same files with the label `container_share_t`:

[code]

[2018-02-05 19:23] miabbott commented on #1176
@giuseppe tells me this may actually be a `skopeo` issue.

The 'working' version of `skopeo` is `skopeo-0.1.27-1.git93876ac.fc27.x86_64`

The broken version used is `skopeo-0.1.28-1.git0270e56.fc27.x86_64`

[2018-02-05 20:42] giuseppe commented on #1176
looking better at the logs, it looks like you already had some layers pre-pulled (with a prior version of Skopeo) that didn't have the SELinux label.  The SELinux label is assigned at pull time when the image is first added to the storage.

Could you try to nuke the `/var/lib/containers/atomic/.storage` before pulling the image, or `ostree refs --delete ociimage` if it is shared with the system?

[2018-02-05 21:34] miabbott commented on #1176
Didn't work out so well...

[code]

[2018-02-05 22:31] peterbaouoft opened #1177 "Remove ostree fallback in syscontainers.py"
support for "ostree", so we can drop the fallback version in syscontainers.py.
We will need to check though that it works in the CI
for the CentOS build

Open an issue here to track the progress of the above task and it can also be a place for possible discussion. (including implementation details, migration details, design details, and even regression details if possible)

Moreover, this can be a

[2018-02-05 22:51] giuseppe commented on #1176
these files are fine with default_t as they are metadata for installing and managing the system container.

[2018-02-06 08:57] navidshaikh opened #1178 "Best way to retrieve image LABELS in an atomic scanner"
There is a requirement for writing an atomic scanner which can retrieve image LABEL data for processing. What is the best way to retrieve LABEL in atomic scanner code?

Tried `docker save` and `tar -xf` for output tar file, there is json file namely `$sha.json` having needed details, how can I access that? to be able to read that file from inside an atomic scanner should do the needful.

[2018-02-06 13:29] rhatdan commented on #1176
Well any confined domain will not be able to use them including confined containers.

[2018-02-06 14:11] giuseppe commented on #1176
these are used by "atomic install" that is privileged and by runc/oci runtime before it launches the container.
I can prepare a patch for containers/image to avoid any problem later on, what label should we use for these metadata files?

[2018-02-06 16:48] miabbott opened #1179 "'atomic images list' is missing some system containers"
On Fedora 27 AH, using `atomic-1.20.1-9.fc27.x86_64`, the output from `atomic images list` is missing some system containers that were pulled to `ostree` storage.  However, if I pass in the `--all` option, the missing images show up.

[code]

In the example above, the `kubernetes-apiserver` and `kubernetes-scheduler` images are missing from the 'short' list of images.

[2018-02-06 20:09] peterbaouoft commented on #1179
I believe this is because of this line in syscontainers.py:  in get_system_images function
[code]
After the installation of kubernetes-apiserver, we list them with ostree refs
[code]

It can be seen that the actual kubernetes image
`ociimage/registry.fedoraproject.org_2Ff27_2Fkubernetes-apiserver_3Alatest`
 has the same length as other "layered image". IOW, it will not satisfy the if condition `le

[2018-02-07 09:09] giuseppe commented on #1179
@miabbott, goot catch!

@peterbaouoft, yes correct that is the reason.  Would you like to prepare a fix for it?

Looking at the metadata would be expensive for each branch.  Let's add another check that the part after 'ociimage/' is not an hexadecimal.  For this function, you could probably use `int('...', 16)` and see it raises an exception.

[2018-02-07 14:23] peterbaouoft commented on #1179
Sure, I can prepare a fix for it.

That would require us to have a try-except block right? which seems ... a bit ugly. I was thinking if we could try using regex matching see if only letters + numbers were existent in the part. If the image( the ref after ociimage/) is not purely letters + numbers we can say it is an image we want to display via atomic images list.

That is my initial thought, i w

[2018-02-08 17:05] giuseppe commented on #1176
@rhatdan, should I use `unconfined_u:object_r:container_var_lib_t:s0` for these files?

[2018-02-09 10:28] giuseppe commented on #1176
I submitted a patch for container-selinux:

https://github.com/projectatomic/container-selinux/pull/50

[2018-02-09 13:48] rhatdan commented on #1176
I think container_var_lib_t might make the most sense.

[2018-02-10 12:15] #1176 closed

[2018-02-14 17:49] #1179 closed

[2018-02-15 20:59] peterbaouoft opened #1189 "Question: do we need to care about the following error case?"
It turns out that we fail for container case when there is a file(instead of directory) in var/lib/containers/atomic

The output is like the following:
[code]

More detailed is like the following:
[code]

[code]

The error is produced when running against test_suite using most upstream code.

Dunno we should care about it tho.

[2018-02-16 09:53] giuseppe commented on #1189
/var/lib/containers/atomic should never a file.  Are you seeing this error on the CI or locally?

[2018-02-16 14:13] peterbaouoft commented on #1189
ah, sorry, I meant for examples like the following:
If I have
/var/lib/containers/atomic/config.json, then all the test locally will fail because config.json is not a directory. I see the error locally when I write a file to `/var/lib/containers/atomic/`

[2018-02-16 14:53] giuseppe commented on #1189
well, we could  skip the files there that are not directories, but only atomic is supposed to have ownership for that directory.

[2018-02-16 15:21] peterbaouoft commented on #1189
Sounds good, this thing is a minor, and I think this should not matter that much too. This issue was just a question to confirm my thoughts :). I will close this issue if you think it is fine to do so.

[2018-02-16 15:40] peterbaouoft commented on #1189
alrighty, closing this issue :-)

[2018-02-16 15:40] #1189 closed

[2018-02-16 17:04] navidshaikh commented on #1178
In atomic scanner runner script

[code]

[2018-02-16 17:04] #1178 closed

[2018-02-20 08:12] navidshaikh opened #1190 "[atomic scan] Get image name in atomic scanner"
I am writing an atomic scanner for a use case where the scanner needs to know the `image_name` being processed.

Now, I get the image name by explicitly setting an env variable while invoking the `atomic scan` command like
[code]
what's the better way to get `image_name` without explicitly have to ask for providing env var along with atomic scan command?

[2018-02-20 17:50] miabbott opened #1191 "'atomic images list' can break if system container is missing files/partially installed"
In the error situation covered by [RHBZ#1542144](https://bugzilla.redhat.com/show_bug.cgi?id=1542144), it is possible to end up with a system container that is only partially installed.

In this partial-install state, the `atomic images list` functionality breaks and is unable to show any of the images on the host.

[code]

This can be reproduced more simply by just installing a system container a

[2018-02-21 14:34] rhatdan commented on #1190
Currently I don't believe we leak that information into the container?
@baude PTAL

[2018-02-21 14:58] peterbaouoft commented on #1191
Thanks for the report, /me currently investigating it :-).

[2018-02-21 15:01] navidshaikh commented on #1190
There is (meta)data with the image itself which could help atomic scanners to implement different use cases.
For example, accessing `Labels` of image under-scan, within atomic scanner for processing.

How I am achieving that right now is
 - Provide env var specifying image name while invoking `atomic scan` and `os.environ.get` within scanner
 -  Using `Atomic.run.Run().get_label()` to access the L

[2018-02-21 15:18] peterbaouoft commented on #1191
all_containers = [x.image for x in self.be_utils.get_containers()]

**Update**:  seems like we trigger the failure when we mark the images to be used. (code below)
[code]
 The way how we check image to be used is to check if the image name shows up in containers' info file.(e.g: /var/lib/containers/atomic/kube-apiserver/info for above example). If it is, then we mark the image to be used. Therefor

[2018-02-21 15:51] baude commented on #1190
@navidshaikh do you want only on the image name ?

[2018-02-21 15:51] baude commented on #1190
@navidshaikh and you want all this before the scan is run correct?

[2018-02-21 17:34] navidshaikh commented on #1190
1. Image name
2. The dictionary/hash printed by `docker inspect` (only interested in the Labels part right now, but other information can be useful as well)

Labels part can be achieved, if image name can be retrieved.
Like:
[code]

Correct. Basically, a way to access that information in the atomic scanner itself.

For eg: My use case is, write an atomic scanner which reads `Labels` of image under

[2018-02-21 19:57] peterbaouoft opened #1193 "Minor question about documentation"
In https://github.com/projectatomic/atomic/blob/master/docs/atomic-pull.1.md, we have the following documents.
[code]

But the code in syscontainers.py (shown below) seems otherwise.
[code]

From tutorialspoint website https://www.tutorialspoint.com/python/string_count.htm, description of count

 In code, for "ostree image" we are expecting input to have at least 2 colons right? But in the doc, we

[2018-02-21 21:34] giuseppe commented on #1191
@peterbaouoft if the info file cannot be opened then we need to skip the container, i.e. we need to catch the exception from `open(os.path.join(fullpath, "info")` and not include the container in the list.

If the image cannot be marked as used, then it is not a big problem as the container is not correctly installed.

[2018-02-22 19:30] peterbaouoft commented on #1177
**FTR**: After discussion with Giuseppe, we think it is better to remove "docker->ostree" fallback as well. That means, when user do `atomic pull --storage ostree docker:firewalld:latest` or `atomic pull --storage ostree dockertar:/path/to/tar`, only skopeo will be used from now on.  Further information will be updated.

[2018-02-22 19:31] peterbaouoft commented on #1149
Hmm, let's close this for now, will open another issue to track this, if needed in the future

[2018-02-22 19:31] #1149 closed

[2018-02-22 23:13] peterbaouoft commented on #1191
Hmm, thinking more about it tho, this removal of info file error needs to be carefully handled.It will impact all other container related actions as well. I found 3 atm, and I think at least `atomic containers delete` and `atomic uninstall $container` should behave properly. I think we should allow user to uninstall even broken container right? WDYT? I can rework on the patch a bit based on your o

[2018-02-23 08:17] giuseppe commented on #1191
yes, I agree with you that `atomic uninstall` and `atomic containers delete` should not care about the info file being present (just ignore it in case it is not there) as the users will probably attempt these two actions to clean up an incorrectly installed container.

[2018-02-26 10:15] giuseppe commented on #1193
I think this must be droppoed. We added `ostree:` for a way to pull images directly from another `ostree` repository but we never used it.  Today `ostree:` has a different meaning with what we are doing with Skopeo.  I've opened a PR here: https://github.com/projectatomic/atomic/pull/1197

[2018-02-26 13:57] #1193 closed

[2018-02-27 21:32] peterbaouoft opened #1199 "atomic uninstall can not recognize container name properly"
Hi I am recently playing around with atomic uninstall command. I noticed this interesting behaviour. Looks like container name is not rendered properly with atomic uninstall?

[code]

In `_ostree` backend, it also looks like the container name did not get rendered?  WDYT
[code]

This is produced on Atomic Host:
[code]

[2018-02-28 08:03] giuseppe commented on #1199
we should error out here as well when `--name` is provided as system containers ignore it.

You need to use:

`atomic uninstall --storage ostree hello-world`

[2018-02-28 14:01] peterbaouoft commented on #1199
atomic uninstall --storage ostree hello-world

Right, but the container name is different than the image name this case right?  and ... because how we did it in `uninstall.py`, we will first not find the image and exit before hand no?

[2018-02-28 20:53] peterbaouoft commented on #1199
PR in https://github.com/projectatomic/atomic/pull/1202

[2018-03-01 07:35] giuseppe commented on #1199
yes, but it is fine for system containers to have a different name than the image and we don't need to know what was the image of the container before uninstalling it.

That is why `atomic uninstall $NAME` is enough for system containers, we should only report an usage error when `--name` is used with system containers.

[2018-03-01 16:24] peterbaouoft commented on #1199
Sorry, I don't think I fully understand this part. I think when you specify `atomic uninstall $NAME`, the system container(container in ostree backend) will be uninstalled if and only if the container has the same name with the image right?

The code in the uninstall.py is as the following: here, we are getting the image first, then we uninstall the container based on image name right?
[code]

and

[2018-03-01 16:25] peterbaouoft commented on #1199
For instance, one example to demonstrate above case is the following:
[code]

[2018-03-01 16:45] peterbaouoft opened #1203 "Inconsistency between some image finding in docker vs ostree?"
Hi, I noticed the following interesting behavior that might suggest some inconsistency between ostree and docker image handles, not sure if we need to care about it tho.  Thoughts?
[code]

[2018-03-01 17:28] giuseppe commented on #1203
yes, we don't do name resolution like that, you need to specify "docker.io/hello-world", WYSIWYG :-)   The reason is that we don't support adding registries, or set a default one as you'd do with Docker.

[2018-03-01 17:28] #1203 closed

[2018-03-01 17:29] giuseppe commented on #1199
no, it will look at the container named NAME for the ostree backend.  It doesn't know from what image it is coming from.

If it doesn't, then it is a bug :-)

[2018-03-01 18:29] peterbaouoft commented on #1199
Oh, yea, now I think I understand. Thanks for the clarification. I was confused about `atomic uninstall --storage ostree $NAME` and mixed it up with `atomic uninstall $NAME`.

**FTR**: When you specify the storage to be ostree, it will default to finding the image, which lead to the failure example I mentioned earlier. Hmm, I think we should not care too much when user specify the storage then. I

[2018-03-02 07:26] navidshaikh commented on #804
For
[code]

on
[code]

atomic now installs `python-dateutils`

[code]

[2018-03-02 08:45] #1199 closed

[2018-03-02 10:36] #804 closed

[2018-03-02 15:27] peterbaouoft commented on #1177
PR merged, closing

[2018-03-02 15:27] #1177 closed

[2018-03-05 22:38] peterbaouoft commented on #1191
So yea... the issue can't seem to be easily solved without changing architecture of the code(not sure if it is the right way to say it). I mentioned briefly about the ways I came up with in the PR.

**TL;DR**, to make users to be able to perform `atomic uninstall $container` or `atomic containers delete $container`, we may need to change multiple parts of the code base.

The following is the conte

[2018-03-12 14:58] miabbott opened #1207 "'-n' flag to 'atomic run' is ignored if 'run' label of image doesn't specify '--name NAME'"
Migrated from upstream [RHHBZ#1427606](https://bugzilla.redhat.com/show_bug.cgi?id=1427606); please see BZ for complete information.

The `-n` flag appears to be ignored if the `run` label of the image does not have a `NAME` field specified.  Using the `cockpit-ws` image as an example:

`# atomic images info registry.access.redhat.com/rhel7/cockpit-ws | grep run:
run: /usr/bin/docker run -d --priv

[2018-03-12 16:08] peterbaouoft opened #1208 "[RFE] Lack of documentation for atomic push?"
This is migrated from https://bugzilla.redhat.com/show_bug.cgi?id=1549264. When using `atomic push -- type atomic image`, the user reported

I have looked into the logic for pushing atomic type in the code base. It seems like we will default to use skopeo copy if no satillite or pulp option is specified.
[code]

However, the format of the image and other specific requirements can not be seen easil

[2018-03-12 17:27] giuseppe commented on #1208
a check for 'oc' could be added to atomic, but it is probably better to add it directly in Skopeo as `skopeo copy` can also be used directly without requiring atomic.

@baude what do you think?  Should rhbz#1549264 be moved to Skopeo?

[2018-03-13 12:30] dharmit opened #1209 "atomic mount inside a privileged container"
I'm trying to do `atomic mount` from inside a privileged container that's got access to `/var/run/docker.sock`. But `atomic mount` doesn't work.

[code]
From the host:

[code]

Is this expected behavior?

[2018-03-13 13:22] dharmit commented on #1209
Eventually, I'd like to do `atomic scan` from inside a container so that I can build and scan container images in OpenShift.

[2018-03-13 13:47] rhatdan commented on #1209
This might have something to do with crossing mount namespaces?
Do you have /var/lib/docker mounted into the container?  Atomic mount mounts directly from the store not through the docker daemon.

[2018-03-14 05:03] dharmit commented on #1209
No, I didn't have `/var/lib/docker` mounted. I did that but it didn't help:

[code]

[2018-03-14 13:21] rhatdan commented on #1209
It looks like atomic command is looking for /etc/containers/registries.conf, so maybe need to volume mount in /etc/containers.

[2018-03-21 15:09] dirkboye opened #1211 "atomic install --system on Fedora Atomic 27 with selinux disabled fails with selinux OSError exception."
On a Fedora 27 Atomic Host (with selinux disabled) there's following problem when running following command:

[code]

[code]

I fixed this issue by enclosing
[code]
in line 294 of **_Atomic/syscontainers.py_**: https://github.com/projectatomic/atomic/blob/master/Atomic/syscontainers.py#L294

inside an
[code]

Would that be the correct way? If yes I can create a Pull request for that.

[2018-03-23 15:48] navidshaikh opened #1212 "atomic scanner fails with Read-only file system error on RHEL"
We got an atomic scanner which performs following operation
[code]
Scanner source code [here](https://github.com/CentOS/container-pipeline-service/tree/master/atomic_scanners/pipeline-scanner)
This scanner works fine with CentOS base image, and CentOS based image_under_test.

We recently rebased this scanner onto RHEL7 base image and tried scanning another RHEL based container. It is failing with

[2018-03-26 12:45] navidshaikh commented on #1212
I had to use ` atomic mount -o rw $IMAGE /mnt` before executing `atomic scan`. This solved the issue.

[2018-03-26 12:45] #1212 closed

[2018-03-28 08:05] giuseppe commented on #1211
closing the issue as the PR was merged

[2018-03-28 08:05] #1211 closed

[2018-03-29 09:44] dharmit commented on #1209
This got fixed by ensuring that `atomic-registries` package is installed in CentOS based system. Thanks for your help @rhatdan

[2018-03-29 09:44] #1209 closed

[2018-03-29 18:39] miabbott opened #1217 "traceback when trying to uninstall non-system container"
Our automated tests caught this when trying to uninstall the `cockpit` container:

[code]

It looks like the uninstall script of the container was successfully run, but it blows up afterwards.

This was found using [Fedora Atomic Host Continuous](https://pagure.io/fedora-atomic-host-continuous)

The affected version was `atomic-1.22.20-6820f8f3b53a0a9fe89690b671624905ce3d0d30.665bce33cf99ea7304709

[2018-04-03 16:33] miabbott commented on #1217
@giuseppe I think this was you;  could you have a look?

[2018-04-03 20:56] giuseppe commented on #1217
@miabbott yes, that is a regression.

Could you check if https://github.com/projectatomic/atomic/pull/1219 solves the problem you have seen?

This is a quick fix to not regress on this, but I think the install data part needs some more work. Unfortunately it is quite difficult to handle correctly as the `install.json` file gets out of sync very easily and in many cases I had to use `-i` when unins

[2018-04-04 14:36] miabbott commented on #1217
@giuseppe That PR worked for me.  I did some simple tests with a single container installed and with a mix of non-system/system containers.

We should probably have some more rigorous testing of the various possible scenarios with containers installed, etc.

[2018-04-05 14:07] giuseppe commented on #1217
@miabbott I've added a test case for the reported issue

[2018-04-07 13:05] kladiv opened #1220 "System package installation failed due to read-only /usr"
Hi,
i tried to install **libffi-devel** but got following issue:

[code]

[code]

Regards,
Claudio

[2018-04-11 00:59] peterbaouoft commented on #1220
Hi,
Thanks for the report! Atomic Host has an immutable, read-only `/usr` directory (except for /usr/local), and I believe your error was because the package tried to install files into `/usr`.

In addition, for more help, I think it will be better to report this to [rpm-ostree](https://github.com/projectatomic/rpm-ostree/issues/new). This(atomic) repo is mainly for command `atomic` :-).

Thanks,

[2018-04-12 08:44] apollo13 opened #1221 "Atomic uninstall fails if container is running."
Looking at the following code
https://github.com/projectatomic/atomic/blob/2fd08606a96e32d90751bd0a703c0b389d306121/Atomic/backends/_docker.py#L453
it is clear that neither `atomic` nor `args` are passed in, yet `stop_container` tries to use it unconditionally:
https://github.com/projectatomic/atomic/blob/2fd08606a96e32d90751bd0a703c0b389d306121/Atomic/backends/_docker.py#L305-L317

The full trace

[2018-04-12 10:23] navidshaikh opened #1222 "atomic mount read-write mode broken in atomic-1.22.1 version"
latest version: `atomic-1.22.1-1.gitd36c015.el7.centos.x86_64`
Working version:  `atomic-1.20.1-9.git436cf5d.el7.centos.x86_64`

Functionality broken: `atomic mount -o rw $IMAGE $MOUNTPOINT`

Issue:
 - `atomic mount` will mount the image in read-only mode, even if `rw` option is provided.

Re-produce:
[code]

Expected behavior:
With working version mentioned, mounted an image with `rw` option, the

[2018-04-12 10:30] dharmit commented on #1212
[code]
it's not working even with the older version of atomic.

[2018-04-12 11:18] navidshaikh commented on #1222
The older version of atomic will give the warning about not supported OverlayFS backend

[code]

while the latest version doesn't warn about not supported OverlayFS backend
[code]

[2018-04-12 16:35] rhatdan commented on #1222
@baude @giuseppe PTAL

[2018-04-13 09:25] giuseppe commented on #1222
PR here: https://github.com/projectatomic/atomic/pull/1223

[2018-04-13 11:49] navidshaikh commented on #1222
@rhatdan : Since`overlay2` is recommended and default storage option, we had to use `devicemapper` option for writable writable mounts (for atomic scanners).

What are recommendations on using `devicemapper` for production use cases?

Writable mounts could be a possible use case, are there plans for overlay2 to support writable mounts ?

[2018-04-13 15:08] rhatdan commented on #1222
@navidshaikh Why do you need writable mounts for scanning?  You should not be writing to the rootfs?

[2018-04-13 15:46] miabbott opened #1224 "ValueError is hidden from user when trying to install container that does not exist on registry"
Using Fedora 28 Atomic Host Beta, I tried to install a version of the `etcd` system container that does not exist on the Fedora registry.  The command returned `1`, but there was no error returned to the user.

[code]

[2018-04-13 17:12] rhatdan commented on #1222
Yuck.

[2018-04-16 10:45] giuseppe commented on #1222
can you mount the container and then add a tmpfs on top of it with overlayfs?  That should solve the issue you have seen

[2018-04-16 10:55] giuseppe commented on #1224
PR here: https://github.com/projectatomic/atomic/pull/1228

[2018-04-16 11:11] navidshaikh commented on #1222
@giuseppe : Can you please help clarify "add a tmpfs on top of it with overlayfs"? As in, how to add another tmpfs on a mounted container?

[2018-04-16 11:11] giuseppe commented on #1191
@peterbaouoft can you just ignore the issue when info is not found during "uninstall" and let the uninstall continue (i.e. disable/remove the systemd files + drop the checkouts)?

[2018-04-16 11:41] giuseppe commented on #1221
PR here: https://github.com/projectatomic/atomic/pull/1229

[2018-04-16 11:45] giuseppe commented on #1222
@navidshaikh yes exactly, or you can use a temporary directory as the upper layer, something like:

[code]

[2018-04-16 12:59] apollo13 commented on #1221
@giuseppe Did you test it? because even when `args.display` is fixed it will still miss `atomic`: https://github.com/projectatomic/atomic/blob/2fd08606a96e32d90751bd0a703c0b389d306121/Atomic/backends/_docker.py#L301

[2018-04-16 13:37] peterbaouoft commented on #1191
Hi thanks for the reply, IIUC, both `delete` and `uninstall` for ostree backend will call `inspect_container` first. Before, to solve the problem micah posted, we would need to ignore the containers when they do not have info file. However, that implementation makes the container that have missing info files "undiscoverable".

 As a result, the container will not be included and `has_container` me

[2018-04-16 15:00] rhatdan commented on #1222
Perhaps that is something we could automate in the command, although we would have to point out that changes will be lost when the container is umounted.

[2018-04-16 16:39] #1224 closed

[2018-04-16 18:15] #1221 closed

[2018-04-19 10:04] #1222 closed

[2018-04-23 09:03] apollo13 opened #1230 "atomic containers list should mention that it needs a privileged user"
Running `atomic containers list` as a normal user just returns nothing. It would be nice if it could tell you that it requires a user in the docker group to run.

[2018-04-23 09:40] giuseppe commented on #1230
it lists the containers owned by the current user, you can try to install one as:
[code]

The container is managed through `systemd --user` and `bwrap-oci`.  There is an open PR to change the default to runc as the support for rootless containers in runc improved a lot over the last year: https://github.com/projectatomic/atomic/pull/1226

[2018-04-23 10:02] apollo13 commented on #1230
Do I need to install some extra tools for `brap-oci` or are they supposed to be part of the atomic image (https://www.projectatomic.io/blog/2017/07/unprivileged-containers-with-bwrap-oci-and-bubblewrap/ seems to suggest they require an install, but that is a while ago)? Cause I currently get:
[code]
Are there any more docs on `bwrap-oci` that you can recommend?

[2018-04-23 10:11] giuseppe commented on #1230
that won't work on AH yet, as bwrap-oci is not part of the image.  As soon as we move to runc by default, we won't have that kind of issues on AH

[2018-04-23 10:30] apollo13 commented on #1230
Ok, thanks for the explanation. I'll read up on runc and how that all fits together.

[2018-04-23 10:30] #1230 closed

[2018-04-26 14:04] Zebirdman opened #1232 "atomic pull fails with KeyError: 'Registries'"
I have a small network of five virtual machines using Red Hat OS 7.4, atomic 1.20.1, Docker 17.06.2-ee-6 on four nodes with one node running Docker 17.12.1-ce for testing purposes.

My manager/server node is running a container image of Docker distribution (registry) which i have created TLS keys for and distributed to all nodes in the /etc/certs.d/redhat.repo:443 directory so standard docker push

[2018-04-26 14:17] rhatdan commented on #1232
@baude Ideas?

[2018-04-26 14:27] baude commented on #1232
does "redhat.repo" resolve? like with ping? does it pull with straight docker correctly?

the more i look at the output, it looks like you might be missing or have a bad /etc/containers/registries.conf ?

[2018-04-27 07:40] Zebirdman commented on #1232
yes all hosts on my network can ping each other by hostname as i added these to the `/etc/hosts` and standard `docker push pull` all work fine.

like you said though i am missing the `/etc/containers/registries.conf` file, did not mention this file in the Red Hat docs i read here https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/signing_c

[2018-05-04 08:04] Zebirdman commented on #1232
ok so the issue is a simple matter of package dependencies. I am testing out Docker but installed it by rpm not via yum.

This process meant that the atomic-registries package was not installed even when i installed the atomic package via yum to test out image signing. Long story short, messing about with Openshift on a new VM I installed everything via the provided Red Hat packages and the missin

[2018-05-04 09:55] #1232 closed

[2018-05-07 02:39] grantcurell opened #1233 "[Errno 22] Invalid argument"
I'm new to the project, but I'm trying to follow the instructions [here](https://www.projectatomic.io/blog/2017/08/new-centos-atomic-release-and-kubernetes-system-containers-now-available/).

When you run `atomic install --system --system-package=no --name kube-apiserver registry.centos.org/centos/kubernetes-apiserver:latest` it gives you:

[code]

I couldn't figure out how to get a regular stack

[2018-05-07 13:35] grantcurell commented on #1233
It looks like it has already been patched, but is not available in the version of CentOS atomic that I have. In atomic version 1.22.1 line 241 of sysconatiners.py `selinux.setfscreatecon_raw(None)` doesn't have a guard in cases where SELinux is not active. In the newest version of the code it is:

[code]

which effectively negates the error. After spending the time to run that down to discover it

[2018-05-07 13:43] #1233 closed

[2018-05-08 06:50] cucushift opened #1234 "images retrieve"
hi,folks i have a doubt about `atomic images list`,when i use cri-o as ` container runtime` ,why some local images can only retrieve by `crictl images`,and `docker images` or `atomic images list` can't find them.Don't all imags respect the `OCI Image Format Specification`  ? Is this because of **storage**? thanks a lot.

[2018-05-08 08:07] cucushift commented on #1234
/close

[2018-05-08 12:41] rhatdan commented on #1234
We could leave this open, since we need atomic integration with the podman tool via varlink, so it could list cri-o images.

[2018-05-09 01:59] cucushift commented on #1234
@rhatdan thanks.

[2018-05-09 08:45] cucushift commented on #1234
/reopen

[2018-05-14 19:42] Alibloke opened #1236 ""error: Some base packages would be replaced" when trying to atomic host upgrade"
I get the following error when trying to update atomic:
# atomic host upgrade
-------8<--------
Resolving dependencies... Forbidden base package replacements:
  pciutils-libs 3.5.1-2.el7 -> 3.5.1-3.el7 (base)
failed
error: Some base packages would be replaced

# atomic -v
1.20.1

[2018-05-14 20:11] rhatdan commented on #1236
@cgwalters Does this mean they installed a local copy of pciutils-libs?

[2018-05-14 20:14] cgwalters commented on #1236
Likely a dup of https://github.com/projectatomic/rpm-ostree/issues/415

Would help if you pasted `rpm-ostree status`.

[2018-05-15 17:04] Alibloke commented on #1236
`# rpm-ostree status`
`State: idle`
`Deployments:`
`* centos-atomic-host:centos-atomic-host/7/x86_64/standard`
 `                  Version: 7.1802 (2018-03-01 23:16:30)`
 `               BaseCommit: 14d55f3a1de1d045fff87d4d1a42584bde9299be66766360352600fcb1c8e9f2`
`         PendingBaseCommit: cbb9dbf9c8697e9254f481fff8f399d6808cecbed0fa6cc24e659d2f50e05a3e`
`        PendingBaseVersion: 7.1803 (201

[2018-06-01 13:43] olivier-dj opened #1237 "atomic install crash"
Hello, Here is my set of commands on a fresh Fedora 28 VM

curl -LO https://kojipkgs.fedoraproject.org//packages/kernel/4.16.11/300.fc28/x86_64/kernel-headers-4.16.11-300.fc28.x86_64.rpm
curl -LO https://kojipkgs.fedoraproject.org//packages/kernel/4.16.11/300.fc28/x86_64/kernel-devel-4.16.11-300.fc28.x86_64.rpm

rpm-ostree install kernel*

echo "blacklist nouveau" >> /etc/modprobe.d/blacklist-nouv

[2018-06-06 09:52] nuriel77 opened #1238 "Kubelet stats"
Using `virt7-container-common-candidate` ends up having kubelet run via `runc`.
This results in:
[code]
It seems to me that kubelet is unable to access the host's `/systemd/system.slice` where it can read container stats.
Is this a known issue? How is kubelet supposed to read container stats? (Using Docker as container runtime for all k8s containers)

[2018-06-11 19:07] #1217 closed

[2018-06-14 21:48] rvernica commented on #1238
I think I'm having a related problem https://lists.projectatomic.io/projectatomic-archives/atomic-devel/2018-June/msg00063.html

[2018-06-15 12:11] robodendron opened #1241 "Cannot `atomic install/pull` from insecure docker registry"
I have an image in a local insecure registry, and I would like to use this image on an F28 AH host. Unfortunately, as with `podman search`, there is no way to configure access to an insecure registry with `atomic install` and `pull`. Accessing the registry results in `http: server gave HTTP response to HTTPS client`.

It would be great if `registries.insecure` in /etc/containers/registries.conf we

[2018-06-25 08:28] giuseppe commented on #1237
the issue is in containers/image (used by Skopeo to pull images from a registry) and it was caused by a recent change in ostree: https://github.com/containers/image/pull/461.

This was already fixed on Fedora with a new version of Skopeo.  Are you using the latest version of Skopeo available on F28?
https://bodhi.fedoraproject.org/updates/FEDORA-2018-ce7128a8d1 ?

[2018-06-25 12:27] Hardcore-fs commented on #1237
I'm
Just rebuilding my openstack incase it was that......
now I know it is not.....
 I will pull  this new F28 image and give it a spin but it will take a bit of time as i'm not really into Fedora.

[2018-07-17 10:14] cho2 opened #1245 "Setup docker image on Debian build"
Reference: https://github.com/projectatomic/atomic/blob/master/docs/install/Debian.md

Do we need `build-essential libssl-dev libffi-dev` packages on docker image setup?

[2018-07-17 10:28] cho2 opened #1246 "Can't build on Debian"
Build using https://github.com/projectatomic/atomic/blob/master/docs/install/Debian.md, but my dependencies are `go-md2man rpm python-selinux python-rpm python-dbus python-slip python-slip-dbus python-gobject python-yaml python-dateutil python-pip git build-essential libssl-dev libffi-dev`

Question about `build-essential libssl-dev libffi-dev` is on https://github.com/projectatomic/atomic/issues/

[2018-08-04 18:00] rbucker commented on #988
still does not work

[2018-08-27 13:41] TomasTomecek opened #1247 ""fsetxattr: Operation not supported" when running in a podman container"
Hi,

I am running atomic command in a container created via podman (no user namespaces, the container was created as root).

My use case is that I need to download a container image and unpack the container filesystem so that our tooling can analyze it.

It seems that the container process doesn't have permissions to manipulate extended file attributes:
[code]

[code]

Is there an easy fix/workaro

[2018-08-27 13:45] TomasTomecek commented on #1241
Is probably related to: https://github.com/containers/skopeo/issues/530

[2018-08-27 13:57] giuseppe commented on #1247
I think the reason is that the ostree repository is on tmpfs (ATOMIC_OSTREE_REPO=/tmp/asdqwe), and xattrs are not supported there.  I'd suggest to not use tmpfs.

Alternatively, but it is a less ideal solution, you could initialize the ostree repository to "bare-user":

`ostree init --repo=/tmp/asdqwe --mode=bare-user`

[2018-08-27 14:08] cgwalters commented on #1247
It's `bare-user-only` that doesn't use xattrs.  But this is a lossy operation then.

[2018-08-27 14:45] TomasTomecek commented on #1247
neat, I haven't realized that; I'll go for /var/tmp instead

[2018-08-27 14:50] #1247 closed

[2018-10-09 10:09] ramanan-r opened #1248 "Failed to mount OverlayFS device"
I am trying out [oscap-docker](https://github.com/OpenSCAP/openscap/blob/maint-1.2/utils/oscap_docker_python/oscap_docker_util.py) which uses project atomic.

I ran `oscap-docker image mysql`
I got following error message.
[code]

Error is from [here](https://github.com/projectatomic/atomic/blob/b507039153d03343d501a221270e7e8896cc3ece/Atomic/mount.py#L632)

Log I got from `dmesg | tail`
[code]

M

[2018-10-11 20:14] mike-nguyen opened #1249 "atomic run with short name will throw error about installing first"
After pulling and installing the `cockpit/ws` container by short name, I sometimes receive an error using `atomic run cockpit/ws`.  If I re-run the command a few times, it will sometimes work and sometimes give me an error.  Using the fully qualified name `registry.centos.org/cockpit/ws` or `docker.io/cockpit/ws` does not cause any errors.

**Steps to Reproduce**

1. atomic pull cockpit/ws
2. atom

[2018-11-25 03:03] 9034725985 commented on #1236
Not sure if this is related but figured I will add mine

[code]

[2018-11-26 14:09] jlebon commented on #1236
Also likely a dupe of https://github.com/projectatomic/rpm-ostree/issues/415. See also https://bugzilla.redhat.com/show_bug.cgi?id=1652615 for background and possible workarounds.

[2018-12-04 19:43] QiWang19 opened #1250 "Should this `break` changed to `continue`?"
https://github.com/projectatomic/atomic/blob/b507039153d03343d501a221270e7e8896cc3ece/Atomic/util.py#L733

If `registries` from current `yaml_file` is none, it should continue to next yaml_file. Current `atomic trust show` doesn't show `sigstore`  from all of the yaml files under `/etc/containers/registries.d`

[code]
Should  `file:///var/lib/atomic/sigstore/` shows at the end of 3rd line?
[code]

[2018-12-04 20:55] rhatdan commented on #1250
Yes I think so.

[2018-12-17 19:27] ServerNinja opened #1251 "Atomic pull tries to get signature files that don't exist off http sigstore"
### My problem:
The issue is that when I do an `sudo atomic pull`, it tries to download signature-1 and then signature-2 but signature-2 was never generated when I previously did `sudo atomic push`.

I'm not sure what I'm doing wrong or if this is an actual bug. The `sudo atomic pull` command just tries to download signature-1, signature-2, signature-3, etc... even though `sudo atomic push` only g

[2018-12-17 19:31] ServerNinja commented on #1251
I should also note the `sudo atomic trust show` on the destination workstation:
[code]

[2018-12-18 13:51] ServerNinja commented on #1251
[code]

[2018-12-18 15:30] ServerNinja commented on #1251
Skopeo Version:
[code]

[2018-12-18 15:37] ServerNinja commented on #1251
I wonder if the issue is that the skopeo command is a newer build than what the atomic command is expecting. In the debug statements, atomic is using out-dated syntax for skopeo...

[code]

I was able to manually run the following skopio command using the correct syntax and it works... so atomic is wrapping the skopio command wrong.
[code]

Also when I use the proper skopio command (that atomic fa

[2018-12-19 22:25] BzowK opened #1252 "Best Method to Mount a Windows Share within a Container"
Good Afternoon, Guys -

I run Docker via Atomic (Fedora 29) on a dedicated system which I've used for a few months now and absolutely love it.  There are many additional things that I want to do with it, however continue to hit a single roadblock.  I've done a ton of research and testing without finding a solution so far so wanted to make an all-inclusive post.

## My Question / Issue ##
**What is

[2018-12-20 12:44] rhatdan commented on #1252
I believe this is SELinux blocking the access.

Could you check for AVC messages.

You could either disable SELinux within docker (Although I would prefer you to play with podman)

Or mount your cifs share with --context="system_u:object_r:container_file_t:s0"

[2018-12-21 16:50] BzowK commented on #1252
_Really_ appreciate the reply - thanks!  I've got a few questions, please...

**Host Rebuild**
My Docker host is a dedicated system for Docker containers for my home lab's use.  I initially used Atomic (Fedora 29) for my Docker host as I thought it would provide the best experience with least overhead.  I'm looking to rebuild my host, however; due to wanting to try something new plus hopefully mak

[2018-12-21 17:34] rhatdan commented on #1252
I cringe when i see the Docker word so often. I think you want to say on your container host...

# Host Rebuild

"My `container host` is a dedicated system for `linux containers` for my home lab's use. I initially used Atomic (Fedora 29) for my `container host` as I thought it would provide the best experience with least overhead. I'm looking to rebuild my host, however; due to wanting to try some

[2018-12-21 18:10] BzowK commented on #1252
Ha - apologies and actually glad you brought it up as I although somewhat new to "container technology" :), I don't want to sound like an idiot.  Thanks

I do most of my work over SSH so will try out COreOS.  I haven't heard of SilverBlue, but will check it out first.

As for disabling SELinux, most of my containers do have volume mounts, but all were initially made with ":z" as I found early on t

[2018-12-21 18:43] BzowK commented on #1252
**Update**
I tried using the string you suggested above in /etc/fstab but after saving and executing "mount -a", still got the below error:

1. To be sure I started from scratch by...
2. Deleting the container & its volumes then adding new
3. Updating apt-get then installing cifs-utils
4. Creating /.smbcredentials with credentials (obviously)
5. Editing /etc/fstab
6. Removed the pre-existing comme

[2018-12-21 18:54] BzowK commented on #1252
**Update 2**
I think that did it.  I rebuilt the container (again) and included "   --privileged \" in the string.  Once done, I followed the same steps above and the share mounted successfully as I was able to create a new file in the share using vi.

Only one issue remaining if you don't mind.  I obviously used apt-get to install cifs-utils into the container I was testing with.  The issue is th

[2018-12-21 20:03] rhatdan commented on #1252
So you are actually executing the mount from within the container?  That is an unusual practice,  the standard is to mount the shares on the host, and then volume mount them into the container.

That is why I as suggesting that you mount the share with the label I suggested, Then you could just run containers off of the volume.

podman run -v /PATHTOSHARE:/PATHTOSHARE ...

Running your containers